@import "color.less";

.swiper-container {
	width: 100%;
	height: 3.4rem;
	.swiper-wrapper{
		div {
			width: 100%;
			color: @fff;
			background-size: cover;
			img {
				width: 100%;
				height: 100%;
			}
			h3 {
				font-weight: normal;
				font-size: .40rem;
				margin-top: -2.5rem;
				margin-bottom: .3rem;
			}
			p {
				width: 80%;
				font-size: .28rem;
				margin: 0 auto;
			}
			span {
				font-size: .28rem;
				bottom: 10px;
				right: 20px;
			}
		}
	}
}