<!-- 园区概况 -->
<template name="yqgk">
	<section id="details">
		<p>上海嘉定出口加工区于2005年6月3日经国务院批准设立，2008年4月1日正式封关运作。上海嘉定出口加工区座落于嘉定工业区的西北板块，总规划面积5.96平方公里，分为出口加工区、发展备用区和配套区三个功能结构分区。出口加工区、发展备用区和配套区三个功能结构分区。出口加工区围网内规划面积3平方公里，一期围网面积为0.989平方公里。</p>
		<img src="../image/details/yqgk1.png" alt="" class="img36">
		<p>嘉定出口加工区以汽车零部件，新型材料及电子产业等现代制造业为主导产业，并大力开展保税物流、研发、检测、维修、货物贸易和服务贸易等各项业务。在园区内可设立国际采购中心、配送中心、展求中心、检测中心、研发中心、维修中心等。</p>
		<p>2007年7月23日，国土资源部以《国土资函[2007]604号》文批准，嘉定出口加工区首期围网内0.989平方公里土地一次性征用转为建设用地，企业落户嘉定出口加工区投资设厂，可以即时获得建设用地供开工建设。</p>
		<p>嘉定出口加工区设有海关、检验检疫的专门办事机构，为企业进出口报关、报检业务提供（5+2）×24小时服务。</p>
		<p>嘉定出口加工区竭诚欢迎中外投资者前来投资考察，并为投资者创造一个优良的投资环境。</p>
		<div style="height: 1.4rem;"></div>
	</section>

</template>

<!-- 园区动态 -->
<template name="yqdt">
	
	<section id="details">

		<div class="title-box">
			<p class="title">上海出入境检验检疫局嘉定办事处挂牌成立</p>
			<p class="date">2016-06-12</p>		
		</div>
		<img src="../image/details/yqdt1.png" alt="" class="img36">
		<p>4月11日，上海出入境检验检疫局嘉定办事处（以下简称办事处）挂牌诞生。区委书记马春雷出席挂牌仪式并致辞，上海出入境检验检疫局局长俞太尉和区委副书记、区长杲云为办事处成立揭牌，区委常委、副区长沈华棣主持仪式。</p>
		<img src="../image/details/yqdt2.png" alt="" class="img36 mt0">
		<p>马春雷在致辞中表示，近年来，嘉定制造业、服务业等实体经济发展迅速、成绩喜人，希望上海出入境检验检疫局一如既往支持嘉定进出口相关企业，推动外贸行业健康发展。同时，嘉定与办事处要加强信息、需求沟通联系，深入开展交流对话；嘉定在软件和硬件方面，将不断提升服务水平和效率，为办事处服务好辖区企业做好保障服务工作。</p>
		<img src="../image/details/yqdt3.png" alt="" class="img36 mt0">
		<p>俞太尉表示，上海出入境检验检疫局将深入了解嘉定进出口企业相关需求，做好政策宣传和监督监管工作，更好地服务辖区相关企业。</p>
		<img src="../image/details/yqdt4.png" alt="" class="img36 mt0">
		<p>杲云说，办事处的成立，将有得于提升嘉定国际化水平和城市综合集聚功能，对推动嘉定转型升级和产业格局趋于合理意义非凡；同时，将对嘉定建设科创中心重要承载区起到更好的支撑作用，希望未来有更多的试点政策项目在嘉定落地。</p>
		<p>会前，部分与会人员参观了筑巢建材家居电子有限公司等企业。</p>
		<p>据悉，2015年8月，国家质检总局正式批复设立上海出入境检验检疫局嘉定办事处。未来，该办事处将对进出口集中箱实施检验检疫、卫生处理，对进出口工业品、消费品、视频化妆普遍等商品进行检验检疫和签发各类原产地证书等服务。</p>
		<p>（转自嘉定报）</p>
		<div style="height: 1.4rem;"></div>
	</section>

</template>

<!-- 功能定位 -->

<template name="gndw">
	
	<section id="details">
		<p>上海嘉定出口加工区以汽车零部件、电子信息、高端设备制造等产业为发展方向，以自贸区为引领，利用出口加工区功能拓展政策，着重大力发展保税物流仓储、检测维修、研发设计、跨境电子商务、金融结算、展示展览、货物贸易和服务贸易等现代服务产业，是服务区经济发展的多功能综合服务平台。</p>
		<img src="../image/details/gndw1.png" alt="" class="img19">
		<p>嘉定出口加工区因其独特优势得到海关和检验检疫等相关部门的大力支持，于2014年获批跨境电商试点，嘉定区政府已与相关监管部门签定了战略协议，明确了：“自贸区可复制的各项功能政策率先在嘉定推广落地”等条款，这使得嘉定出口加工区在复制自贸区各项功能政策方面具备优先条件。</p>
		<img src="../image/details/gndw2.png" alt="" class="img19">
		<p>同时，嘉定出口加工区与“东方支付”、“跨境通”紧密合作，成立了“嘉境通”，它将作为一个综合公共服务平台为跨境电商提供便捷周到的贸易服务。</p>
		<div style="height: 1.4rem;"></div>
	</section>

</template>


<!-- 园区文化 -->

<template name="yqwh">
	
	<section id="details2">
		
		<div class="item">
			<h3>1、使命/mission</h3>
			<p>招商、扶商、亲商、稳商、安商、富商</p>
			<img src="../image/details/yqwh1.png" alt="">
		</div>
		<div class="item">
			<h3>2、目标/goal</h3>
			<p>微笑多一点、服务好一点、耐心大一点、效率高一点、行动快一点、做事勤一点</p>
			<img src="../image/details/yqwh2.png" alt="">
		</div>
		<div class="item">
			<h3>3、价值观/values</h3>
			<p>爱岗敬业、诚信服务、团结高效、开拓创新</p>
			<img src="../image/details/yqwh3.png" alt="">
		</div>
		<div style="height: 1.4rem;"></div>
	</section>

</template>

<!-- 发展计划 -->
<template name="fzjh">
	
	<section id="details2">
		
		<div class="item">
			<h3>1、项目管理计划</h3>
			<p>管理是计划、组织、实施、协调和控制，计划是管理工作的第一步，是基础</p>
			<img src="../image/details/fzjh1.png" alt="">
		</div>
		<div class="item">
			<h3>2、进度计划管理的逐步深化</h3>
			<p>计划按照出口加工区六大中心的转型要求以及自贸区功能拓展政策，园区致力打造全新的四个平台。</p>
			<img src="../image/details/fzjh2.png" alt="">
		</div>
		<div class="item">
			<h3>3、在组织管理职能中的分工计划</h3>
			<p>做好对接自贸区政策复制工作，积极拓展期货交割、保税融资租赁及保理、保税展示交易等各项业务。</p>
			<img src="../image/details/fzjh3.png" alt="">
		</div>
		<div style="height: 1.4rem;"></div>
	</section>

</template>


<!-- //aboutus	 -->

<template name="aboutus">
	
	<section id="about-us">
		
			<h3>关于我们</h3>
			<p>上海嘉定工业区是经上海市人民政府批准设立的市级试点工业园区。园区地处上海西北部, 位于沪宁发展轴上，北与江苏太仓接壤，南与嘉定新城相连，西邻上海国际汽车城和江苏昆山，东界上海宝山，是长三角十五个城市群的中心地带。</p>
			<p>上海嘉定工业区总面积78平方公里，园区分南区和北区两大重点开发区域，南区成立于1992年10月,已开发面积24.8平方公里。北区成立于2003年1月,经上海市人民政府批准建设先进制造业基地，核心开发区域32.4平方公里。目前，园区的道路、水、电、天然气等基础设施齐全，环境优美，已先后通过了ISO9001质量体系认证和ISO14001国际环境认证。</p>
			<p>经过多年的发展，嘉定工业区的规模和品牌效应不断扩大，已先后建立了上海张江高科技园区嘉定分区、国家留学生嘉定创业园、上海中科高科技园区、上海嘉定出口加工区、复旦复华高科技园区、上海大学国家科技园等六个国家级的园区。目前，园区已形成了汽车零部件、光电子信息、精密机械制造、新型材料等为主导产业的产业链，集聚了来自世界30多个国家和地区的400多家投资商落户，项目总投资超过100亿美元。其中，投资额1000万美元以上的项目超过80％，一批著名的跨国集团纷纷入驻工业区，如美国杜邦、国际纸业集团、德国宝马、大陆集团，意大利菲亚特集团、瑞典山特维克、萨帕等。</p>
			<p>嘉定工业区正以建设“技术先进、产业集聚、资源节约、环境友好”园区为己任，努力把园区打造成满足跨国生产与全球技术转移需求，具备优势现代服务业配套体系，融生产、生活、生态于一体的现代城市化园区。</p>
			<p>地址：中国 上海市嘉定宝钱公路4500号</p>
			<p>公司电话：021-39568005</p>
			<p>邮编：201815</p>
			<p>招商热线：021-39568005   021-39568003    021-39568098</p>

			<div style="height: 1.4rem;"></div>

	</section>

</template>