<!-- 四大平台 -->
<template name="sdpt">
	
	<section id="sdpt">
		
		{{#each list}}

		<div style="background:url({{ bg }})" class="item">
			<a href="{{ url }}" class="db">{{ name }}</a>
		</div>

		{{/each}}
	

	</section>




</template>

<template name="kjdzsw">
	
	<section id="four-items">
		
			<h3>跨境电子商务平台</h3>
			<img src="../image/four/1.png" alt="">
			<p>跨境电子商务是基于网络发展起来的，网络空间相对于物理空间来说是一个新空间，是一个由网址和密码组成的虚拟但客观存在的世界。网络空间独特的价值标准和行为模式深刻地影响着跨境电子商务，使其不同于传统的交易方式而呈现出自己的特点。</p>
			<p>网络是一个没有边界的媒介体，具有全球性和非中心化的特征。电子商务中的制造商容易隐藏其住所而消费者对制造商的依据是漠不关心的。比如，一家很小的爱尔兰在线公司，通过一个可供世界各地的消费者点击观看的网页，就可以通过互联网销售其产品和服务，只要消费者接入了互联网。很难界定这一交易究竟是在哪个国家内发生的。</p>

	</section>

</template>

<!-- <template></template>
<template></template>
<template></template> -->