<!-- 四大平台 -->
<template name="sdpt">
	
	<section id="sdpt">
		
		{{#each list}}

			<div style="background:url({{ bg }})" class="item">
				<a href="{{ url }}" class="db">{{ name }}</a>
			</div>

		{{/each}}
		<div style="height: 1.4rem;"></div>

	</section>




</template>


<!-- //嘉境通跨境电商平台 -->
<template name="kjdzsw">
	
	<section id="four-items">
	
			<h3>{{ article.name }}</h3>
			{{{ article.content }}}
			<img src="../image/project/1-1.jpg" alt="">

	</section>

</template>

<!-- 上海汇车供应链管理有限公司汽车及其零部件展示交易平台 -->
<template name="kjdzsw2">
	
	<section id="four-items">
	
			<h3>{{ article.name }}</h3>
			{{{ article.content }}}
			<div style="height: 1.4rem;"></div>

	</section>

</template>

<!-- 食品、化妆品的展示交易平台 -->
<template name="kjdzsw3">
	
	<section id="four-items">
	
			<h3>{{ article.name }}</h3>
			{{{ article.content }}}

	</section>

</template>


<!-- 离岸金融服务平台 -->
<template name="kjdzsw4">
	
	<section id="four-items">
	
			<h3>{{ article.name }}</h3>
			{{{ article.content }}}

	</section>

</template>

<!-- 智贸通 -->
<template name="kjdzsw5">
	
	<section id="four-items">
		<h3>智贸通项目简介</h3>	
		<p>该项目拟由上海嘉定城发产业投资有限公司结合市场资本、技术及人才以混合所有制的形式立项开发，项目位于嘉定工业区出口加工区内，占地面积约60亩。规划建造现代化大型智能化库房一座，建筑面积预计为49,000平方米，计划总投资额52,360万元。该项目建成后，将成为全国保税区内第一家专门为跨境电商产业链中的客户提供仓储、物流相关规划、咨询、物流信息系统、供应链管理服务以及电子商务平台等相关增值服务的企业，对国内的跨境电商在仓储物流方面将具有里程碑式的意义。</p>
		<p>项目主要功能：</p>
		<p>一、集聚电商：发挥上海嘉定出口加工区的区位优势、产业优势、功能优势、资源优势来吸引电商企业落户嘉定。</p>
		<p>二、服务电商：专门为跨境电商企业提供仓储、物流规划、咨询、供应链管理、电子商务平台、大数据分析等增值服务。</p>
		<p>项目一期拟建大型高智能立体库房一座，设计有效仓储空间72,000立方米。高智能库房全部采用德国进口设备，单日最高运单处理能力保守预计在100000单左右，最大运单能力200,000单/日。该项目建成后可为跨境电商企业提供仓储物流、展示展览、融资租赁等产业配套服务，尤其对跨境电商在仓储物流方面将具有里程碑式意义。
		</p>
		<p>项目落户在上海嘉定工业区，上海是我国东部的交通中心，上海港已跻身于世界一流的国际集装箱枢纽港之列，嘉定出口加工区于2014年获批上海市跨境电商试点，在跨境电商产业及相关服务领域的发展上具有了先天优势，且具有更好的交通便利优势。 </p>
		<p>该项目总体建成后，将给跨境电商企业提供全球一流的软硬件设施设备及全方位的供应链管理服务，为吸引更多的跨境电商企业落户嘉定奠定了基础。</p>
		<img src="../image/project/zmt.png" alt="">
		<div style="height: 1.4rem;"></div>
	</section>

</template>

<!-- 泰士星 -->
<template name="kjdzsw6">
	
	<section id="four-items">
	
			<h3>泰士星</h3>
			<p>部门总人数将近一百,实行24小时运作制度。现主要以销往欧洲、北美、南美、东南亚、中东等各地的婴孩儿童车和床、门栏、运动器材等产品的塑胶和五金模具为主营业务,模具的品质得到了公司和客户的一致肯定。 部门主要的机器设备有：7台高精密数控加工中心；8台数控放电火花机；10台精密线切割机；3台数控车床；4台钻床；10台铣床；5台磨床和1台新型激光焊设备；另有3台1000T的大型注塑机，6台500T的中型注塑机，26台400T以下的小型注塑机，和2台500T的双色注塑机。 可承接的业务有：塑胶类、五金类和焊接类等各种模具的设计与制造，及其注塑成型类业务，或精密复杂的双色模具；各种零件或治具的设计或加工；各类模卡、样品的制作及后处理等工作。</p>

	</section>

</template>

<!-- 乔山 -->
<template name="kjdzsw7">
	
	<section id="four-items">
	
			<h3>乔山健康科技股份有限公司</h3>
			<p>乔山健康科技自1975年创立以来，专注于健身器材之设计、生产及营销，在过去38年每年以傲人的成长率于业界稳定的茁壮，以台湾为发源地，晋身为亚洲最大、世界前三大，业界成长最快速的健身器材制造厂商。</p>
			<p>以自有品牌营销世界60余国，供货商用、家用健身器材市场、五星级酒店、知名度假村、体育用品专卖店。我们致力提供最创新、最有价值的产品和优越的客户服务让乔山成为全球健身器材领导供货商。</p>

	</section>

</template>