<!-- 四大平台 -->
<template name="sdpt">
	
	<section id="sdpt">
		
		{{#each list}}

			<div style="background:url({{ bg }})" class="item">
				<a href="{{ url }}" class="db">{{ name }}</a>
			</div>

		{{/each}}
		<div style="height: 1.4rem;"></div>

	</section>




</template>


<!-- //嘉境通跨境电商平台 -->
<template name="kjdzsw">
	
	<section id="four-items">
	
			<h3>{{ article.name }}</h3>
			{{{ article.content }}}
			<img src="../image/project/1-1.jpg" alt="">

	</section>

</template>

<!-- 上海汇车供应链管理有限公司汽车及其零部件展示交易平台 -->
<template name="kjdzsw2">
	
	<section id="four-items">
	
			<h3>{{ article.name }}</h3>
			{{{ article.content }}}
			<div style="height: 1.4rem;"></div>

	</section>

</template>

<!-- 食品、化妆品的展示交易平台 -->
<template name="kjdzsw3">
	
	<section id="four-items">
	
			<h3>{{ article.name }}</h3>
			{{{ article.content }}}

	</section>

</template>


<!-- 离岸金融服务平台 -->
<template name="kjdzsw4">
	
	<section id="four-items">
	
			<h3>{{ article.name }}</h3>
			{{{ article.content }}}

	</section>

</template>

<!-- 智贸通 -->
<template name="kjdzsw5">
	
	<section id="four-items">
		<h3>智贸通项目简介</h3>	
		<p>该项目拟由上海嘉定城发产业投资有限公司结合市场资本、技术及人才以混合所有制的形式立项开发，项目位于嘉定工业区出口加工区内，占地面积约60亩。规划建造现代化大型智能化库房一座，建筑面积预计为49,000平方米，计划总投资额52,360万元。该项目建成后，将成为全国保税区内第一家专门为跨境电商产业链中的客户提供仓储、物流相关规划、咨询、物流信息系统、供应链管理服务以及电子商务平台等相关增值服务的企业，对国内的跨境电商在仓储物流方面将具有里程碑式的意义。</p>
		<p>项目主要功能：</p>
		<p>一、集聚电商：发挥上海嘉定出口加工区的区位优势、产业优势、功能优势、资源优势来吸引电商企业落户嘉定。</p>
		<p>二、服务电商：专门为跨境电商企业提供仓储、物流规划、咨询、供应链管理、电子商务平台、大数据分析等增值服务。</p>
		<p>项目一期拟建大型高智能立体库房一座，设计有效仓储空间72,000立方米。高智能库房全部采用德国进口设备，单日最高运单处理能力保守预计在100000单左右，最大运单能力200,000单/日。该项目建成后可为跨境电商企业提供仓储物流、展示展览、融资租赁等产业配套服务，尤其对跨境电商在仓储物流方面将具有里程碑式意义。
		</p>
		<p>项目落户在上海嘉定工业区，上海是我国东部的交通中心，上海港已跻身于世界一流的国际集装箱枢纽港之列，嘉定出口加工区于2014年获批上海市跨境电商试点，在跨境电商产业及相关服务领域的发展上具有了先天优势，且具有更好的交通便利优势。 </p>
		<p>该项目总体建成后，将给跨境电商企业提供全球一流的软硬件设施设备及全方位的供应链管理服务，为吸引更多的跨境电商企业落户嘉定奠定了基础。</p>
	</section>

</template>

<!-- 泰士星 -->
<template name="kjdzsw6">
	
	<section id="four-items">
	
			<h3>泰士星</h3>
			<p>上海泰士星日用制品有限公司(运材）是玩具、办公家具、健身器材等产品专业生产加工的港、澳、台商独资经营企业,公司总部设在上海市嘉定区马陆申裕路398号,上海泰士星日用制品有限公司(运材）拥有完整、科学的质量管理体系。上海泰士星日用制品有限公司(运材）的诚信、实力和产品质量获得业界的认可。欢迎各界朋友莅临上海泰士星日用制品有限公司(运材）参观、指导和业务洽谈。</p>

	</section>

</template>

<!-- 乔山 -->
<template name="kjdzsw7">
	
	<section id="four-items">
	
			<h3>乔山健康科技股份有限公司</h3>
			<p>自1975年创立以来，即以健康、价值、共享为职志，专注于健康科技事业发展，投入到运动健身及复健医疗器材之研发、生产及行销；公司成立至今，秉持著快速、准确和扎实的企业精神，集团营业额每年以超过 30% 的成长率，在业界中稳定地茁壮，并晋身为为亚洲第一、世界第三大健身器材公司。</p>

	</section>

</template>