<!-- 招商服务 -->
<template name="zsfw">
	
	{{> swiper}}
	
	<section id="sub-items">
		
		<ul>
			{{#each items}}
			<li class="dib">
				<a href="{{ url }}" class="db">
					<img src="{{ img }}" alt="" class="l">
					<p class="title">{{ title }}</p>	
					<span class="color-title {{ color }} bd28">{{ subtitle }}</span>
					<i class="fa fa-angle-right fa-2 r" aria-hidden="true"></i>
				</a>
			</li>
			{{/each}}
		</ul>
	</section>


</template>

<!-- 商务合作 -->
<template name="swhz">
	
	{{> swiper}}
	
	<section id="sub-items">
		<ul>
			{{#each items}}
			<li class="dib">
				<a href="{{ url }}" class="db">
					<img src="{{ img }}" alt="" class="l">
					<p class="title">{{ title }}</p>	
					<span class="color-title {{ color }} bd28">{{ subtitle }}</span>
					<em>{{ contact }}</em>
				</a>
			</li>
			{{/each}}
		</ul>
	</section>


</template>


<!-- 平台建设 -->
<template name="ptjs">
	
	{{> swiper}}
	
	<section id="sub-items">
		<ul>
			{{#each items}}
			<li class="dib">
				<a href="{{ url }}" class="db">
					<img src="{{ img }}" alt="" class="l">
					<p class="title">{{ title }}</p>	
					<span class="color-title {{ color }} bd28">{{ subtitle }}</span>
					<i class="fa fa-angle-right fa-2 r" aria-hidden="true"></i>
				</a>
			</li>
			{{/each}}
		</ul>
		<div style="height: 1.4rem;"></div>
	</section>


</template>


<!-- 项目建设 -->
<template name="xmjs">
	
	{{> swiper}}
	
	<section id="sub-items">
		<ul>
			{{#each items}}
			<li class="dib">
				<a href="{{ url }}" class="db">
					<img src="{{ img }}" alt="" class="l">
					<p class="title">{{ title }}</p>	
					<span class="color-title {{ color }} bd28">{{ subtitle }}</span>
					<i class="fa fa-angle-right fa-2 r" aria-hidden="true"></i>
				</a>
			</li>
			{{/each}}
		</ul>
	</section>


</template>

<!-- 关联园区 -->
<template name="glyq">
	
	{{> swiper}}
	
	<section id="sub-items">
		
		<ul>
			{{#each items}}
			<li class="dib">
				<a href="{{ url }}" class="db">
					<img src="{{ img }}" alt="" class="l">
					<p class="title">{{ title }}</p>	
					<span class="color-title {{ color }} bd28">{{ subtitle }}</span>
					<i class="fa fa-angle-right fa-2 r" aria-hidden="true"></i>
				</a>
			</li>
			{{/each}}
		</ul>
		<div style="height: 1.4rem;"></div>
	</section>


</template>