<!-- 新闻中心 -->
<template name="xwzx">
	
	{{> swiper }}

	<section id="xwzx">
		
		{{#each items}}
			
			<div class="items">
				<div class="l left" flex="cross:center">
					<div>
						<p class="title">{{ title }}</p>
						<p class="date">{{ date }}</p>
					</div>
				</div>
				<img src="{{ img }}" alt="" class="r">
			</div>

		{{/each}}

	</section>	

</template>


<!-- 相关政策 -->

<template name="xgzc">
	
	<section id="xgzc">
		<ul flex="box:mean dir:left">
			<li class="tc active tab">最新法规规章</li>
			<li class="tc tab">政策解读</li>
		</ul>
		<div class="box">
			<div class="item show">
				{{#each laws}}
				
				<div class="items cp">
					<input type="hidden" value="{{ url }}">
					<div class="l left" flex="cross:center">
						<div>
							<p class="title">{{ title }}</p>
							<p class="date">{{ date }}</p>
						</div>
					</div>
					<img src="{{ img }}" alt="" class="r">
				</div>

				{{/each}}
			</div>
			
			<div class="item">
				{{#each policys}}
				
				<div class="items">
					<div class="l left" flex="cross:center">
						<div>
							<p class="title">{{ title }}</p>
							<p class="date">{{ date }}</p>
						</div>
					</div>
					<img src="{{ img }}" alt="" class="r">
				</div>

				{{/each}}
			</div>

		</div>
	</section>


</template>


<!-- 法规详情 -->
<template name="fgxq1">
	
	<section id="zdetail">
		
		<div class="title">
			<p>国务院关于加强食品等产品安全监督管理的特别规定</p>
			<p class="date">2015-04-16</p>
		</div>

		<article>
			<p class="tc" style="text-indent:0;">2007年7月25日国务院第186次常务会议通过</p>  <p class="tc" style="text-indent:0;">2007年7月26日国务院令第503号公布</p>

			<p>第一条　为了加强食品等产品安全监督管理，进一步明确生产经营者、监督管理部门和地方人民政府的责任，加强各监督管理部门的协调、配合，保障人体健康和生命安全，制定本规定。</p>

			<p>第二条　本规定所称产品除食品外，还包括食用农产品、药品等与人体健康和生命安全有关的产品。对产品安全监督管理，法律有规定的，适用法律规定；法律没有规定或者规定不明确的，适用本规定。</p>

			<p>第三条　生产经营者应当对其生产、销售的产品安全负责，不得生产、销售不符合法定要求的产品。</p>

			<p>依照法律、行政法规规定生产、销售产品需要取得许可证照或者需要经过认证的，应当按照法定条件、要求从事生产经营活动。不按照法定条件、要求从事生产经营活动或者生产、销售不符合法定要求产品的，由农业、卫生、质检、商务、工商、药品等监督管理部门依据各自职责，没收违法所得、产品和用于违法生产的工具、设备、原材料等物品，货值金额不足5000元的，并处5万元罚款；货值金额5000元以上不足1万元的，并处10万元罚款；货值金额1万元以上的，并处货值金额10倍以上20倍以下的罚款；造成严重后果的，由原发证部门吊销许可证照；构成非法经营罪或者生产、销售伪劣商品罪等犯罪的，依法追究刑事责任。</p>

			<p>生产经营者不再符合法定条件、要求，继续从事生产经营活动的，由原发证部门吊销许可证照，并在当地主要媒体上公告被吊销许可证照的生产经营者名单；构成非法经营罪或者生产、销售伪劣商品罪等犯罪的，依法追究刑事责任。</p>

			<p>依法应当取得许可证照而未取得许可证照从事生产经营活动的，由农业、卫生、质检、商务、工商、药品等监督管理部门依据各自职责，没收违法所得、产品和用于违法生产的工具、设备、原材料等物品，货值金额不足1万元的，并处10万元罚款；货值金额1万元以上的，并处货值金额10倍以上20倍以下的罚款；构成非法经营罪的，依法追究刑事责任。</p>

			<p>有关行业协会应当加强行业自律，监督生产经营者的生产经营活动；加强公众健康知识的普及、宣传，引导消费者选择合法生产经营者生产、销售的产品以及有合法标识的产品。</p>
			

			<p>　第四条　生产者生产产品所使用的原料、辅料、添加剂、农业投入品，应当符合法律、行政法规的规定和国家强制性标准。</p>

			<p>违反前款规定，违法使用原料、辅料、添加剂、农业投入品的，由农业、卫生、质检、商务、药品等监督管理部门依据各自职责没收违法所得，货值金额不足5000元的，并处2万元罚款；货值金额5000元以上不足1万元的，并处5万元罚款；货值金额1万元以上的，并处货值金额5倍以上10倍以下的罚款；造成严重后果的，由原发证部门吊销许可证照；构成生产、销售伪劣商品罪的，依法追究刑事责任。</p>

			<p>第五条　销售者必须建立并执行进货检查验收制度，审验供货商的经营资格，验明产品合格证明和产品标识，并建立产品进货台账，如实记录产品名称、规格、数量、供货商及其联系方式、进货时间等内容。从事产品批发业务的销售企业应当建立产品销售台账，如实记录批发的产品品种、规格、数量、流向等内容。在产品集中交易场所销售自制产品的生产企业应当比照从事产品批发业务的销售企业的规定，履行建立产品销售台账的义务。进货台账和销售台账保存期限不得少于2年。销售者应当向供货商按照产品生产批次索要符合法定条件的检验机构出具的检验报告或者由供货商签字或者盖章的检验报告复印件；不能提供检验报告或者检验报告复印件的产品，不得销售。</p>

			<p>违反前款规定的，由工商、药品监督管理部门依据各自职责责令停止销售；不能提供检验报告或者检验报告复印件销售产品的，没收违法所得和违法销售的产品，并处货值金额3倍的罚款；造成严重后果的，由原发证部门吊销许可证照。</p>

			<p>第六条　产品集中交易市场的开办企业、产品经营柜台出租企业、产品展销会的举办企业，应当审查入场销售者的经营资格，明确入场销售者的产品安全管理责任，定期对入场销售者的经营环境、条件、内部安全管理制度和经营产品是否符合法定要求进行检查，发现销售不符合法定要求产品或者其他违法行为的，应当及时制止并立即报告所在地工商行政管理部门。</p>

			<p>违反前款规定的，由工商行政管理部门处以1000元以上5万元以下的罚款；情节严重的，责令停业整顿；造成严重后果的，吊销营业执照。</p>

			<p>第七条　出口产品的生产经营者应当保证其出口产品符合进口国（地区）的标准或者合同要求。法律规定产品必须经过检验方可出口的，应当经符合法律规定的机构检验合格。</p>

			<p>出口产品检验人员应当依照法律、行政法规规定和有关标准、程序、方法进行检验，对其出具的检验证单等负责。</p>

			<p>出入境检验检疫机构和商务、药品等监督管理部门应当建立出口产品的生产经营者良好记录和不良记录，并予以公布。对有良好记录的出口产品的生产经营者，简化检验检疫手续。</p>

			<p>出口产品的生产经营者逃避产品检验或者弄虚作假的，由出入境检验检疫机构和药品监督管理部门依据各自职责，没收违法所得和产品，并处货值金额3倍的罚款；构成犯罪的，依法追究刑事责任。</p>

			<p>第八条　进口产品应当符合我国国家技术规范的强制性要求以及我国与出口国（地区）签订的协议规定的检验要求。</p>

			<p>质检、药品监督管理部门依据生产经营者的诚信度和质量管理水平以及进口产品风险评估的结果，对进口产品实施分类管理，并对进口产品的收货人实施备案管理。进口产品的收货人应当如实记录进口产品流向。记录保存期限不得少于2年。</p>

			<p>质检、药品监督管理部门发现不符合法定要求产品时，可以将不符合法定要求产品的进货人、报检人、代理人列入不良记录名单。进口产品的进货人、销售者弄虚作假的，由质检、药品监督管理部门依据各自职责，没收违法所得和产品，并处货值金额3倍的罚款；构成犯罪的，依法追究刑事责任。进口产品的报检人、代理人弄虚作假的，取消报检资格，并处货值金额等值的罚款。</p>

			<p>第九条　生产企业发现其生产的产品存在安全隐患，可能对人体健康和生命安全造成损害的，应当向社会公布有关信息，通知销售者停止销售，告知消费者停止使用，主动召回产品，并向有关监督管理部门报告；销售者应当立即停止销售该产品。销售者发现其销售的产品存在安全隐患，可能对人体健康和生命安全造成损害的，应当立即停止销售该产品，通知生产企业或者供货商，并向有关监督管理部门报告。</p>

			<p>生产企业和销售者不履行前款规定义务的，由农业、卫生、质检、商务、工商、药品等监督管理部门依据各自职责，责令生产企业召回产品、销售者停止销售，对生产企业并处货值金额3倍的罚款，对销售者并处1000元以上5万元以下的罚款；造成严重后果的，由原发证部门吊销许可证照。</p>

			<p>第十条　县级以上地方人民政府应当将产品安全监督管理纳入政府工作考核目标，对本行政区域内的产品安全监督管理负总责，统一领导、协调本行政区域内的监督管理工作，建立健全监督管理协调机制，加强对行政执法的协调、监督；统一领导、指挥产品安全突发事件应对工作，依法组织查处产品安全事故；建立监督管理责任制，对各监督管理部门进行评议、考核。质检、工商和药品等监督管理部门应当在所在地同级人民政府的统一协调下，依法做好产品安全监督管理工作。</p>

			<p>县级以上地方人民政府不履行产品安全监督管理的领导、协调职责，本行政区域内一年多次出现产品安全事故、造成严重社会影响的，由监察机关或者任免机关对政府的主要负责人和直接负责的主管人员给予记大过、降级或者撤职的处分。</p>

			<p>第十一条　国务院质检、卫生、农业等主管部门在各自职责范围内尽快制定、修改或者起草相关国家标准，加快建立统一管理、协调配套、符合实际、科学合理的产品标准体系。</p>

			<p>第十二条　县级以上人民政府及其部门对产品安全实施监督管理，应当按照法定权限和程序履行职责，做到公开、公平、公正。对生产经营者同一违法行为，不得给予2次以上罚款的行政处罚；对涉嫌构成犯罪、依法需要追究刑事责任的，应当依照《行政执法机关移送涉嫌犯罪案件的规定》，向公安机关移送。</p>

			<p>农业、卫生、质检、商务、工商、药品等监督管理部门应当依据各自职责对生产经营者进行监督检查，并对其遵守强制性标准、法定要求的情况予以记录，由监督检查人员签字后归档。监督检查记录应当作为其直接负责主管人员定期考核的内容。公众有权查阅监督检查记录。</p>

			<p>第十三条　生产经营者有下列情形之一的，农业、卫生、质检、商务、工商、药品等监督管理部门应当依据各自职责采取措施，纠正违法行为，防止或者减少危害发生，并依照本规定予以处罚：</p>

			<p>(一)依法应当取得许可证照而未取得许可证照从事生产经营活动的；</p>
			<p>(二)取得许可证照或者经过认证后，不按照法定条件、要求从事生产经营活动或者生产、销售不符合法定要求产品的；</p>
			<p>(三)生产经营者不再符合法定条件、要求继续从事生产经营活动的；</p>
			<p>(四)生产者生产产品不按照法律、行政法规的规定和国家强制性标准使用原料、辅料、添加剂、农业投入品的；</p>
			<p>(五)销售者没有建立并执行进货检查验收制度，并建立产品进货台账的；</p>
			<p>(六)生产企业和销售者发现其生产、销售的产品存在安全隐患，可能对人体健康和生命安全造成损害，不履行本规定的义务的；</p>
			<p>(七)生产经营者违反法律、行政法规和本规定的其他有关规定的。</p>

			<p>农业、卫生、质检、商务、工商、药品等监督管理部门不履行前款规定职责、造成后果的，由监察机关或者任免机关对其主要负责人、直接负责的主管人员和其他直接责任人员给予记大过或者降级的处分；造成严重后果的，给予其主要负责人、直接负责的主管人员和其他直接责任人员撤职或者开除的处分；其主要负责人、直接负责的主管人员和其他直接责任人员构成渎职罪的，依法追究刑事责任。</p>

			<p>违反本规定，滥用职权或者有其他渎职行为的，由监察机关或者任免机关对其主要负责人、直接负责的主管人员和其他直接责任人员给予记过或者记大过的处分；造成严重后果的，给予其主要负责人、直接负责的主管人员和其他直接责任人员降级或者撤职的处分；其主要负责人、直接负责的主管人员和其他直接责任人员构成渎职罪的，依法追究刑事责任。</p>

			<p>第十四条　农业、卫生、质检、商务、工商、药品等监督管理部门发现违反本规定的行为，属于其他监督管理部门职责的，应当立即书面通知并移交有权处理的监督管理部门处理。有权处理的部门应当立即处理，不得推诿；因不立即处理或者推诿造成后果的，由监察机关或者任免机关对其主要负责人、直接负责的主管人员和其他直接责任人员给予记大过或者降级的处分。</p>

			<p>第十五条　农业、卫生、质检、商务、工商、药品等监督管理部门履行各自产品安全监督管理职责，有下列职权:</p>
			<p>(一)进入生产经营场所实施现场检查；</p>
			<p>(二)查阅、复制、查封、扣押有关合同、票据、账簿以及其他有关资料；</p>
			<p>(三)查封、扣押不符合法定要求的产品，违法使用的原料、辅料、添加剂、农业投入品以及用于违法生产的工具、设备；</p>
			<p>(四)查封存在危害人体健康和生命安全重大隐患的生产经营场所。</p>

			<p>第十六条　农业、卫生、质检、商务、工商、药品等监督管理部门应当建立生产经营者违法行为记录制度，对违法行为的情况予以记录并公布；对有多次违法行为记录的生产经营者，吊销许可证照。</p>

			<p>第十七条　检验检测机构出具虚假检验报告，造成严重后果的，由授予其资质的部门吊销其检验检测资质；构成犯罪的，对直接负责的主管人员和其他直接责任人员依法追究刑事责任。</p>

			<p>第十八条　发生产品安全事故或者其他对社会造成严重影响的产品安全事件时，农业、卫生、质检、商务、工商、药品等监督管理部门必须在各自职责范围内及时作出反应，采取措施，控制事态发展，减少损失，依照国务院规定发布信息，做好有关善后工作。</p>

			<p>第十九条　任何组织或者个人对违反本规定的行为有权举报。接到举报的部门应当为举报人保密。举报经调查属实的，受理举报的部门应当给予举报人奖励。</p>

			<p>农业、卫生、质检、商务、工商、药品等监督管理部门应当公布本单位的电子邮件地址或者举报电话；对接到的举报，应当及时、完整地进行记录并妥善保存。举报的事项属于本部门职责的，应当受理，并依法进行核实、处理、答复；不属于本部门职责的，应当转交有权处理的部门，并告知举报人。</p>
			
			<p>第二十条　本规定自公布之日起施行。</p>



		</article>
		<div style="height: 1.4rem;"></div>
	</section>

</template>

<template name="fgxq2">
	
	<section id="zdetail">
		
		<div class="title">
			<p>中华人民共和国认证认可条例</p>
			<p class="date">2015-04-16</p>
		</div>

		<article>
			<p>《中华人民共和国认证认可条例》已经2003年８月20日国务院第18次常务会议通过，现予公布，自2003年11月１日起施行。</p>

			<p class="tr">总理 温家宝</p>
			<p class="tr">二００三年九月三日</p>
			<p class="tc" style="text-indent:0">中华人民共和国认证认可条例</p>
			<p>第一章 总 则</p>

			<p>第一条 为了规范认证认可活动，提高产品、服务的质量和管理水平，促进经济和社会的发展，制定本条例。</p>

			<p>第二条 本条例所称认证，是指由认证机构证明产品、服务、管理体系符合相关技术规范、相关技术规范的强制性要求或者标准的合格评定活动。</p>

			<p>本条例所称认可，是指由认可机构对认证机构、检查机构、实验室以及从事评审、审核等认证活动人员的能力和执业资格，予以承认的合格评定活动。</p>

			<p>第三条 在中华人民共和国境内从事认证认可活动，应当遵守本条例。</p>

			<p>第四条 国家实行统一的认证认可监督管理制度。</p>

			<p>国家对认证认可工作实行在国务院认证认可监督管理部门统一管理、监督和综合协调下，各有关方面共同实施的工作机制。</p>
			

			<p>第五条 国务院认证认可监督管理部门应当依法对认证培训机构、认证咨询机构的活动加强监督管理。</p>

			<p>第六条 认证认可活动应当遵循客观独立、公开公正、诚实信用的原则。</p>

			<p>第七条 国家鼓励平等互利地开展认证认可国际互认活动。认证认可国际互认活动不得损害国家安全和社会公共利益。</p>

			<p>第八条 从事认证认可活动的机构及其人员，对其所知悉的国家秘密和商业秘密负有保密义务。</p>

			<p>第二章 认证机构</p>

			<p>第九条 设立认证机构，应当经国务院认证认可监督管理部门批准，并依法取得法人资格后，方可从事批准范围内的认证活动。</p>

			<p>未经批准，任何单位和个人不得从事认证活动。</p>

			<p>第十条 设立认证机构，应当符合下列条件：</p>

			<p>（一）有固定的场所和必要的设施；</p>

			<p>（二）有符合认证认可要求的管理制度；</p>

			<p>（三）注册资本不得少于人民币３００万元；</p>

			<p>（四）有１０名以上相应领域的专职认证人员。</p>

			<p>从事产品认证活动的认证机构，还应当具备与从事相关产品认证活动相适应的检测、检查等技术能力。</p>

			<p>第十一条 设立外商投资的认证机构除应当符合本条例第十条规定的条件外，还应当符合下列条件：</p>

			<p>（一）外方投资者取得其所在国家或者地区认可机构的认可；</p>

			<p>（二）外方投资者具有３年以上从事认证活动的业务经历。</p>

			<p>设立外商投资认证机构的申请、批准和登记，按照有关外商投资法律、行政法规和国家有关规定办理。</p>

			<p>第十二条 设立认证机构的申请和批准程序：</p>

			<p>（一）设立认证机构的申请人，应当向国务院认证认可监督管理部门提出书面申请，并提交符合本条例第十条规定条件的证明文件；</p>

			<p>（二）国务院认证认可监督管理部门自受理认证机构设立申请之日起９０日内，应当作出是否批准的决定。涉及国务院有关部门职责的，应当征求国务院有关部门的意见。决定批准的，向申请人出具批准文件，决定不予批准的，应当书面通知申请人，并说明理由；</p>

			<p>（三）申请人凭国务院认证认可监督管理部门出具的批准文件，依法办理登记手续。</p>

			<p>国务院认证认可监督管理部门应当公布依法设立的认证机构名录。</p>
			<p>第十三条 境外认证机构在中华人民共和国境内设立代表机构，须经批准，并向工商行政管理部门依法办理登记手续后，方可从事与所从属机构的业务范围相关的推广活动，但不得从事认证活动。</p>
			<p>境外认证机构在中华人民共和国境内设立代表机构的申请、批准和登记，按照有关外商投资法律、行政法规和国家有关规定办理。</p>
			<p>第十四条 认证机构不得与行政机关存在利益关系。</p>
			<p>认证机构不得接受任何可能对认证活动的客观公正产生影响的资助；不得从事任何可能对认证活动的客观公正产生影响的产品开发、营销等活动。</p>
			<p>认证机构不得与认证委托人存在资产、管理方面的利益关系。</p>
			<p>第十五条 认证人员从事认证活动，应当在一个认证机构执业，不得同时在两个以上认证机构执业。</p>

			<p>第十六条 向社会出具具有证明作用的数据和结果的检查机构、实验室，应当具备有关法律、行政法规规定的基本条件和能力，并依法经认定后，方可从事相应活动，认定结果由国务院认证认可监督管理部门公布。</p>

			<p>第三章 认 证</p>

			<p>第十七条 国家根据经济和社会发展的需要，推行产品、服务、管理体系认证。</p>

			<p>第十八条 认证机构应当按照认证基本规范、认证规则从事认证活动。认证基本规范、认证规则由国务院认证认可监督管理部门制定；涉及国务院有关部门职责的，国务院认证认可监督管理部门应当会同国务院有关部门制定。</p>
			<p>属于认证新领域，前款规定的部门尚未制定认证规则的，认证机构可以自行制定认证规则，并报国务院认证认可监督管理部门备案。</p>
			<p>第十九条 任何法人、组织和个人可以自愿委托依法设立的认证机构进行产品、服务、管理体系认证。</p>
			<p>第二十条 认证机构不得以委托人未参加认证咨询或者认证培训等为理由，拒绝提供本认证机构业务范围内的认证服务，也不得向委托人提出与认证活动无关的要求或者限制条件。</p>
			<p>第二十一条 认证机构应当公开认证基本规范、认证规则、收费标准等信息。</p>

			<p>第二十二条 认证机构以及与认证有关的检查机构、实验室从事认证以及与认证有关的检查、检测活动，应当完成认证基本规范、认证规则规定的程序，确保认证、检查、检测的完整、客观、真实，不得增加、减少、遗漏程序。</p>

			<p>第二十三条 认证机构及其认证人员应当及时作出认证结论，并保证认证结论的客观、真实。认证结论经认证人员签字后，由认证机构负责人签署。</p>

			<p>认证机构及其认证人员对认证结果负责。</p>

			<p>第二十四条 认证结论为产品、服务、管理体系符合认证要求的，认证机构应当及时向委托人出具认证证书。</p>

			<p>第二十五条 获得认证证书的，应当在认证范围内使用认证证书和认证标志，不得利用产品、服务认证证书、认证标志和相关文字、符号，误导公众认为其管理体系已通过认证，也不得利用管理体系认证证书、认证标志和相关文字、符号，误导公众认为其产品、服务已通过认证。</p>
			
			<p>第二十六条 认证机构可以自行制定认证标志，并报国务院认证认可监督管理部门备案。</p>

			<p>认证机构自行制定的认证标志的式样、文字和名称，不得违反法律、行政法规的规定，不得与国家推行的认证标志相同或者近似，不得妨碍社会管理，不得有损社会道德风尚。</p>
			<p>第二十七条 认证机构应当对其认证的产品、服务、管理体系实施有效的跟踪调查，认证的产品、服务、管理体系不能持续符合认证要求的，认证机构应当暂停其使用直至撤销认证证书，并予公布。</p>
			<p>第二十八条 为了保护国家安全、防止欺诈行为、保护人体健康或者安全、保护动植物生命或者健康、保护环境，国家规定相关产品必须经过认证的，应当经过认证并标注认证标志后，方可出厂、销售、进口或者在其他经营活动中使用。</p>
			<p>第二十九条 国家对必须经过认证的产品，统一产品目录，统一技术规范的强制性要求、标准和合格评定程序，统一标志，统一收费标准。</p>
			<p>统一的产品目录（以下简称目录）由国务院认证认可监督管理部门会同国务院有关部门制定、调整，由国务院认证认可监督管理部门发布，并会同有关方面共同实施。</p>
			<p>第三十条 列入目录的产品，必须经国务院认证认可监督管理部门指定的认证机构进行认证。</p>
			<p>列入目录产品的认证标志，由国务院认证认可监督管理部门统一规定。</p>
			<p>第三十一条 列入目录的产品，涉及进出口商品检验目录的，应当在进出口商品检验时简化检验手续。</p>
			<p>第三十二条 国务院认证认可监督管理部门指定的从事列入目录产品认证活动的认证机构以及与认证有关的检查机构、实验室（以下简称指定的认证机构、检查机构、实验室），应当是长期从事相关业务、无不良记录，且已经依照本条例的规定取得认可、具备从事相关认证活动能力的机构。国务院认证认可监督管理部门指定从事列入目录产品认证活动的认证机构，应当确保在每一列入目录产品领域至少指定两家符合本条例规定条件的机构。</p>
			<p>国务院认证认可监督管理部门指定前款规定的认证机构、检查机构、实验室，应当事先公布有关信息，并组织在相关领域公认的专家组成专家评审委员会，对符合前款规定要求的认证机构、检查机构、实验室进行评审；经评审并征求国务院有关部门意见后，按照资源合理利用、公平竞争和便利、有效的原则，在公布的时间内作出决定。</p>
			<p>第三十三条 国务院认证认可监督管理部门应当公布指定的认证机构、检查机构、实验室名录及指定的业务范围。</p>
			<p>未经指定，任何机构不得从事列入目录产品的认证以及与认证有关的检查、检测活动。</p>
			<p>第三十四条 列入目录产品的生产者或者销售者、进口商，均可自行委托指定的认证机构进行认证。</p>
			<p>第三十五条 指定的认证机构、检查机构、实验室应当在指定业务范围内，为委托人提供方便、及时的认证、检查、检测服务，不得拖延，不得歧视、刁难委托人，不得牟取不当利益。</p>
			<p>指定的认证机构不得向其他机构转让指定的认证业务。</p>
			<p>第三十六条 指定的认证机构、检查机构、实验室开展国际互认活动，应当在国务院认证认可监督管理部门或者经授权的国务院有关部门对外签署的国际互认协议框架内进行。</p>
			<p>第四章 认 可</p>
			<p>第三十七条 国务院认证认可监督管理部门确定的认可机构（以下简称认可机构），独立开展认可活动。</p>
			<p>除国务院认证认可监督管理部门确定的认可机构外，其他任何单位不得直接或者变相从事认可活动。其他单位直接或者变相从事认可活动的，其认可结果无效。</p>
			<p>第三十八条 认证机构、检查机构、实验室可以通过认可机构的认可，以保证其认证、检查、检测能力持续、稳定地符合认可条件。</p>

			<p>第三十九条 从事评审、审核等认证活动的人员，应当经认可机构注册后，方可从事相应的认证活动。</p>
			<p>第四十条 认可机构应当具有与其认可范围相适应的质量体系，并建立内部审核制度，保证质量体系的有效实施。</p>
			<p>第四十一条 认可机构根据认可的需要，可以选聘从事认可评审活动的人员。从事认可评审活动的人员应当是相关领域公认的专家，熟悉有关法律、行政法规以及认可规则和程序，具有评审所需要的良好品德、专业知识和业务能力。</p>
			<p>第四十二条 认可机构委托他人完成与认可有关的具体评审业务的，由认可机构对评审结论负责。</p>
			<p>第四十三条 认可机构应当公开认可条件、认可程序、收费标准等信息。</p>
			<p>认可机构受理认可申请，不得向申请人提出与认可活动无关的要求或者限制条件。</p>
			<p>第四十四条 认可机构应当在公布的时间内，按照国家标准和国务院认证认可监督管理部门的规定，完成对认证机构、检查机构、实验室的评审，作出是否给予认可的决定，并对认可过程作出完整记录，归档留存。认可机构应当确保认可的客观公正和完整有效，并对认可结论负责。</p>
			<p>认可机构应当向取得认可的认证机构、检查机构、实验室颁发认可证书，并公布取得认可的认证机构、检查机构、实验室名录。</p>
			<p>第四十五条 认可机构应当按照国家标准和国务院认证认可监督管理部门的规定，对从事评审、审核等认证活动的人员进行考核，考核合格的，予以注册。</p>
			<p>第四十六条 认可证书应当包括认可范围、认可标准、认可领域和有效期限。</p>
			<p>认可证书的格式和认可标志的式样须经国务院认证认可监督管理部门批准。</p>
			<p>第四十七条 取得认可的机构应当在取得认可的范围内使用认可证书和认可标志。取得认可的机构不当使用认可证书和认可标志的，认可机构应当暂停其使用直至撤销认可证书，并予公布。</p>
			<p>第四十八条 认可机构应当对取得认可的机构和人员实施有效的跟踪监督，定期对取得认可的机构进行复评审，以验证其是否持续符合认可条件。取得认可的机构和人员不再符合认可条件的，认可机构应当撤销认可证书，并予公布。</p>
			<p>取得认可的机构的从业人员和主要负责人、设施、自行制定的认证规则等与认可条件相关的情况发生变化的，应当及时告知认可机构。</p>
			<p>第四十九条 认可机构不得接受任何可能对认可活动的客观公正产生影响的资助。</p>
			<p>第五十条 境内的认证机构、检查机构、实验室取得境外认可机构认可的，应当向国务院认证认可监督管理部门备案。</p>
			<p>第五章 监督管理</p>
			<p>第五十一条 国务院认证认可监督管理部门可以采取组织同行评议，向被认证企业征求意见，对认证活动和认证结果进行抽查，要求认证机构以及与认证有关的检查机构、实验室报告业务活动情况的方式，对其遵守本条例的情况进行监督。发现有违反本条例行为的，应当及时查处，涉及国务院有关部门职责的，应当及时通报有关部门。</p>
			<p>第五十二条 国务院认证认可监督管理部门应当重点对指定的认证机构、检查机构、实验室进行监督，对其认证、检查、检测活动进行定期或者不定期的检查。指定的认证机构、检查机构、实验室，应当定期向国务院认证认可监督管理部门提交报告，并对报告的真实性负责；报告应当对从事列入目录产品认证、检查、检测活动的情况作出说明。</p>
			<p>第五十三条 认可机构应当定期向国务院认证认可监督管理部门提交报告，并对报告的真实性负责；报告应当对认可机构执行认可制度的情况、从事认可活动的情况、从业人员的工作情况作出说明。</p>

			<p>国务院认证认可监督管理部门应当对认可机构的报告作出评价，并采取查阅认可活动档案资料、向有关人员了解情况等方式，对认可机构实施监督。</p>
			<p>第五十四条 国务院认证认可监督管理部门可以根据认证认可监督管理的需要，就有关事项询问认可机构、认证机构、检查机构、实验室的主要负责人，调查了解情况，给予告诫，有关人员应当积极配合。</p>
			<p>第五十五条 省、自治区、直辖市人民政府质量技术监督部门和国务院质量监督检验检疫部门设在地方的出入境检验检疫机构，在国务院认证认可监督管理部门的授权范围内，依照本条例的规定对认证活动实施监督管理。</p>
			<p>国务院认证认可监督管理部门授权的省、自治区、直辖市人民政府质量技术监督部门和国务院质量监督检验检疫部门设在地方的出入境检验检疫机构，统称地方认证监督管理部门。</p>
			<p>第五十六条 任何单位和个人对认证认可违法行为，有权向国务院认证认可监督管理部门和地方认证监督管理部门举报。国务院认证认可监督管理部门和地方认证监督管理部门应当及时调查处理，并为举报人保密。</p>
			<p>第六章 法律责任</p>
			<p>第五十七条 未经批准擅自从事认证活动的，予以取缔，处10万元以上50万元以下的罚款，有违法所得的，没收违法所得。</p>
			<p>第五十八条 境外认证机构未经批准在中华人民共和国境内设立代表机构的，予以取缔，处５万元以上20万元以下的罚款。</p>
			<p>经批准设立的境外认证机构代表机构在中华人民共和国境内从事认证活动的，责令改正，处10万元以上50万元以下的罚款，有违法所得的，没收违法所得；情节严重的，撤销批准文件，并予公布。</p>
			<p>第五十九条 认证机构接受可能对认证活动的客观公正产生影响的资助，或者从事可能对认证活动的客观公正产生影响的产品开发、营销等活动，或者与认证委托人存在资产、管理方面的利益关系的，责令停业整顿；情节严重的，撤销批准文件，并予公布；有违法所得的，没收违法所得；构成犯罪的，依法追究刑事责任。</p>
			<p>第六十条 认证机构有下列情形之一的，责令改正，处５万元以上２０万元以下的罚款，有违法所得的，没收违法所得；情节严重的，责令停业整顿，直至撤销批准文件，并予公布：</p>
			<p>（一）超出批准范围从事认证活动的；</p>
			<p>（二）增加、减少、遗漏认证基本规范、认证规则规定的程序的；</p>
			<p>（三）未对其认证的产品、服务、管理体系实施有效的跟踪调查，或者发现其认证的产品、服务、管理体系不能持续符合认证要求，不及时暂停其使用或者撤销认证证书并予公布的；</p>
			<p>（四）聘用未经认可机构注册的人员从事认证活动的。</p>
			<p>与认证有关的检查机构、实验室增加、减少、遗漏认证基本规范、认证规则规定的程序的，依照前款规定处罚。</p>
			<p>第六十一条 认证机构有下列情形之一的，责令限期改正；逾期未改正的，处2万元以上10万元以下的罚款：</p>
			<p>（一）以委托人未参加认证咨询或者认证培训等为理由，拒绝提供本认证机构业务范围内的认证服务，或者向委托人提出与认证活动无关的要求或者限制条件的；</p>
			<p>（二）自行制定的认证标志的式样、文字和名称，与国家推行的认证标志相同或者近似，或者妨碍社会管理，或者有损社会道德风尚的；</p>
			<p>（三）未公开认证基本规范、认证规则、收费标准等信息的；</p>

			<p>（四）未对认证过程作出完整记录，归档留存的；</p>
			<p>（五）未及时向其认证的委托人出具认证证书的。</p>
			<p>与认证有关的检查机构、实验室未对与认证有关的检查、检测过程作出完整记录，归档留存的，依照前款规定处罚。</p>
			<p>第六十二条 认证机构出具虚假的认证结论，或者出具的认证结论严重失实的，撤销批准文件，并予公布；对直接负责的主管人员和负有直接责任的认证人员，撤销其执业资格；构成犯罪的，依法追究刑事责任；造成损害的，认证机构应当承担相应的赔偿责任。</p>
			<p>指定的认证机构有前款规定的违法行为的，同时撤销指定。</p>
			<p>第六十三条 认证人员从事认证活动，不在认证机构执业或者同时在两个以上认证机构执业的，责令改正，给予停止执业６个月以上２年以下的处罚，仍不改正的，撤销其执业资格。</p>
			<p>第六十四条 认证机构以及与认证有关的检查机构、实验室未经指定擅自从事列入目录产品的认证以及与认证有关的检查、检测活动的，责令改正，处10万元以上50万元以下的罚款，有违法所得的，没收违法所得。</p>
			<p>认证机构未经指定擅自从事列入目录产品的认证活动的，撤销批准文件，并予公布。</p>
			<p>第六十五条 指定的认证机构、检查机构、实验室超出指定的业务范围从事列入目录产品的认证以及与认证有关的检查、检测活动的，责令改正，处10万元以上50万元以下的罚款，有违法所得的，没收违法所得；情节严重的，撤销指定直至撤销批准文件，并予公布。</p>
			<p>指定的认证机构转让指定的认证业务的，依照前款规定处罚。</p>
			<p>第六十六条 认证机构、检查机构、实验室取得境外认可机构认可，未向国务院认证认可监督管理部门备案的，给予警告，并予公布。</p>
			<p>第六十七条 列入目录的产品未经认证，擅自出厂、销售、进口或者在其他经营活动中使用的，责令改正，处５万元以上20万元以下的罚款，有违法所得的，没收违法所得。</p>
			<p>第六十八条 认可机构有下列情形之一的，责令改正；情节严重的，对主要负责人和负有责任的人员撤职或者解聘：</p>
			<p>（一）对不符合认可条件的机构和人员予以认可的；</p>
			<p>（二）发现取得认可的机构和人员不符合认可条件，不及时撤销认可证书，并予公布的；</p>
			<p>（三）接受可能对认可活动的客观公正产生影响的资助的。</p>
			<p>被撤职或者解聘的认可机构主要负责人和负有责任的人员，自被撤职或者解聘之日起５年内不得从事认可活动。</p>
			<p>第六十九条 认可机构有下列情形之一的，责令改正；对主要负责人和负有责任的人员给予警告：</p>
			<p>（一）受理认可申请，向申请人提出与认可活动无关的要求或者限制条件的；</p>
			<p>（二）未在公布的时间内完成认可活动，或者未公开认可条件、认可程序、收费标准等信息的；</p>
			<p>（三）发现取得认可的机构不当使用认可证书和认可标志，不及时暂停其使用或者撤销认可证书并予公布的；</p>
			<p>（四）未对认可过程作出完整记录，归档留存的。</p>
			<p>第七十条 国务院认证认可监督管理部门和地方认证监督管理部门及其工作人员，滥用职权、徇私舞弊、玩忽职守，有下列行为之一的，对直接负责的主管人员和其他直接责任人员，依法给予降级或者撤职的行政处分；构成犯罪的，依法追究刑事责任：</p>
			<p>（一）不按照本条例规定的条件和程序，实施批准和指定的；</p>
			<p>（二）发现认证机构不再符合本条例规定的批准或者指定条件，不撤销批准文件或者指定的；</p>
			<p>（三）发现指定的检查机构、实验室不再符合本条例规定的指定条件，不撤销指定的；</p>
			<p>（四）发现认证机构以及与认证有关的检查机构、实验室出具虚假的认证以及与认证有关的检查、检测结论或者出具的认证以及与认证有关的检查、检测结论严重失实，不予查处的；</p>
			<p>（五）发现本条例规定的其他认证认可违法行为，不予查处的。</p>
			<p>第七十一条 伪造、冒用、买卖认证标志或者认证证书的，依照《中华人民共和国产品质量法》等法律的规定查处。</p>
			<p>第七十二条 本条例规定的行政处罚，由国务院认证认可监督管理部门或者其授权的地方认证监督管理部门按照各自职责实施。法律、其他行政法规另有规定的，依照法律、其他行政法规的规定执行。</p>
			<p>第七十三条 认证人员自被撤销执业资格之日起５年内，认可机构不再受理其注册申请。</p>
			<p>第七十四条 认证机构未对其认证的产品实施有效的跟踪调查，或者发现其认证的产品不能持续符合认证要求，不及时暂停或者撤销认证证书和要求其停止使用认证标志给消费者造成损失的，与生产者、销售者承担连带责任。</p>
			<p>第七章 附 则</p>
			<p>第七十五条 药品生产、经营企业质量管理规范认证，实验动物质量合格认证，军工产品的认证，以及从事军工产品校准、检测的实验室及其人员的认可，不适用本条例。</p>
			<p>依照本条例经批准的认证机构从事矿山、危险化学品、烟花爆竹生产经营单位管理体系认证，由国务院安全生产监督管理部门结合安全生产的特殊要求组织；从事矿山、危险化学品、烟花爆竹生产经营单位安全生产综合评价的认证机构，经国务院安全生产监督管理部门推荐，方可取得认可机构的认可。</p>
			<p>第七十六条 认证认可收费，应当符合国家有关价格法律、行政法规的规定。</p>
			<p>第七十七条 认证培训机构、认证咨询机构的管理办法由国务院认证认可监督管理部门制定。</p>
			<p>第七十八条 本条例自2003年11月１日起施行。1991年5月７日国务院发布的《中华人民共和国产品质量认证管理条例》同时废止。</p>
			<p>注：本篇法规中关于“境外认证机构设立代表机构批准”的行政审批项目已被：《国务院关于第四批取消和调整行政审批项目的决定》取消（发布/实施日期：2007年10月9日）</p>

		</article>
		<div style="height: 1.4rem;"></div>
	</section>

</template>

<template name="fgxq3">
	
	<section id="zdetail">
		
		<div class="title">
			<p>中华人民共和国食品安全法实施条例</p>
			<p class="date">2015-04-16</p>
		</div>

		<article>
			<p class="tc" style="text-indent:0">中华人民共和国食品安全法实施条例</p>

			<p class="tc" style="text-indent:0">2009年7月8日国务院第73次常务会议通过</p>
			<p class="tc" style="text-indent:0">2009年7月20日国务院令第557号公布</p>
			<p class="tc" style="text-indent:0">目     录</p>


			<p>第一章 总 则</p>

			<p>第二章　食品安全风险监测和评估</p>

			<p>第三章　食品安全标准</p>

			<p>第四章　食品生产经营</p>

			<p>第五章　食品检验</p>

			<p>第六章　食品进出口</p>

			<p>第七章　食品安全事故处置</p>
			
			<p>第八章　监督管理</p>

			<p>第九章  法律责任</p>

			<p>第十章  附    则</p>

			<p class="tc" style="text-indent:0">第一章　 总　　则</p>

			<p>第一条　根据《中华人民共和国食品安全法》（以下简称食品安全法），制定本条例。</p>

			<p>第二条　县级以上地方人民政府应当履行食品安全法规定的职责；加强食品安全监督管理能力建设，为食品安全监督管理工作提供保障；建立健全食品安全监督管理部门的协调配合机制，整合、完善食品安全信息网络，实现食品安全信息共享和食品检验等技术资源的共享。</p>

			<p>第三条　食品生产经营者应当依照法律、法规和食品安全标准从事生产经营活动，建立健全食品安全管理制度，采取有效管理措施，保证食品安全。</p>

			<p>食品生产经营者对其生产经营的食品安全负责，对社会和公众负责，承担社会责任。</p>

			<p>第四条　食品安全监督管理部门应当依照食品安全法和本条例的规定公布食品安全信息，为公众咨询、投诉、举报提供方便；任何组织和个人有权向有关部门了解食品安全信息。</p>

			<p class="tc" style="text-indent:0">第二章　食品安全风险监测和评估</p>

			<p>第五条　食品安全法第十一条规定的国家食品安全风险监测计划，由国务院卫生行政部门会同国务院质量监督、工商行政管理和国家食品药品监督管理以及国务院商务、工业和信息化等部门，根据食品安全风险评估、食品安全标准制定与修订、食品安全监督管理等工作的需要制定。</p>

			<p>第六条　省、自治区、直辖市人民政府卫生行政部门应当组织同级质量监督、工商行政管理、食品药品监督管理、商务、工业和信息化等部门，依照食品安全法第十一条的规定，制定本行政区域的食品安全风险监测方案，报国务院卫生行政部门备案。</p>

			<p>国务院卫生行政部门应当将备案情况向国务院质量监督、工商行政管理和国家食品药品监督管理以及国务院商务、工业和信息化等部门通报。</p>

			<p>第七条　国务院卫生行政部门会同有关部门除依照食品安全法第十二条的规定对国家食品安全风险监测计划作出调整外，必要时，还应当依据医疗机构报告的有关疾病信息调整国家食品安全风险监测计划。</p>

			<p>国家食品安全风险监测计划作出调整后，省、自治区、直辖市人民政府卫生行政部门应当结合本行政区域的具体情况，对本行政区域的食品安全风险监测方案作出相应调整。</p>

			<p>第八条　医疗机构发现其接收的病人属于食源性疾病病人、食物中毒病人，或者疑似食源性疾病病人、疑似食物中毒病人的，应当及时向所在地县级人民政府卫生行政部门报告有关疾病信息。</p>

			<p>接到报告的卫生行政部门应当汇总、分析有关疾病信息，及时向本级人民政府报告，同时报告上级卫生行政部门；必要时，可以直接向国务院卫生行政部门报告，同时报告本级人民政府和上级卫生行政部门。</p>

			<p>第九条　食品安全风险监测工作由省级以上人民政府卫生行政部门会同同级质量监督、工商行政管理、食品药品监督管理等部门确定的技术机构承担。</p>

			<p>承担食品安全风险监测工作的技术机构应当根据食品安全风险监测计划和监测方案开展监测工作，保证监测数据真实、准确，并按照食品安全风险监测计划和监测方案的要求，将监测数据和分析结果报送省级以上人民政府卫生行政部门和下达监测任务的部门。</p>

			<p>食品安全风险监测工作人员采集样品、收集相关数据，可以进入相关食用农产品种植养殖、食品生产、食品流通或者餐饮服务场所。采集样品，应当按照市场价格支付费用。</p>

			<p>第十条　食品安全风险监测分析结果表明可能存在食品安全隐患的，省、自治区、直辖市人民政府卫生行政部门应当及时将相关信息通报本行政区域设区的市级和县级人民政府及其卫生行政部门。</p>

			<p>第十一条　国务院卫生行政部门应当收集、汇总食品安全风险监测数据和分析结果，并向国务院质量监督、工商行政管理和国家食品药品监督管理以及国务院商务、工业和信息化等部门通报。</p>

			<p>第十二条　有下列情形之一的，国务院卫生行政部门应当组织食品安全风险评估工作：</p>
			<p>(一)为制定或者修订食品安全国家标准提供科学依据需要进行风险评估的；</p>
			<p>(二)为确定监督管理的重点领域、重点品种需要进行风险评估的；</p>
			<p>(三)发现新的可能危害食品安全的因素的；</p>
			<p>(四)需要判断某一因素是否构成食品安全隐患的；</p>
			<p>(五)国务院卫生行政部门认为需要进行风险评估的其他情形。</p>

			<p>第十三条　国务院农业行政、质量监督、工商行政管理和国家食品药品监督管理等有关部门依照食品安全法第十五条规定向国务院卫生行政部门提出食品安全风险评估建议，应当提供下列信息和资料：</p>

			<p>(一)风险的来源和性质；</p>
			<p>(二)相关检验数据和结论；</p>
			<p>(三)风险涉及范围；</p>
			<p>(四)其他有关信息和资料。</p>
			<p>县级以上地方农业行政、质量监督、工商行政管理、食品药品监督管理等有关部门应当协助收集前款规定的食品安全风险评估信息和资料。</p>
			<p>第十四条　省级以上人民政府卫生行政、农业行政部门应当及时相互通报食品安全风险监测和食用农产品质量安全风险监测的相关信息。</p>
			<p>国务院卫生行政、农业行政部门应当及时相互通报食品安全风险评估结果和食用农产品质量安全风险评估结果等相关信息。</p>

			<p class="tc" style="text-indent:0">第三章 　食品安全标准</p>

			<p>第十五条　国务院卫生行政部门会同国务院农业行政、质量监督、工商行政管理和国家食品药品监督管理以及国务院商务、工业和信息化等部门制定食品安全国家标准规划及其实施计划。制定食品安全国家标准规划及其实施计划，应当公开征求意见。</p>

			<p>第十六条　国务院卫生行政部门应当选择具备相应技术能力的单位起草食品安全国家标准草案。提倡由研究机构、教育机构、学术团体、行业协会等单位，共同起草食品安全国家标准草案。</p>

			<p>第十七条　食品安全法第二十三条规定的食品安全国家标准审评委员会由国务院卫生行政部门负责组织。</p>

			<p>食品安全国家标准审评委员会负责审查食品安全国家标准草案的科学性和实用性等内容。</p>
			
			<p>第十八条　省、自治区、直辖市人民政府卫生行政部门应当将企业依照食品安全法第二十五条规定报送备案的企业标准，向同级农业行政、质量监督、工商行政管理、食品药品监督管理、商务、工业和信息化等部门通报。</p>

			<p>第十九条　国务院卫生行政部门和省、自治区、直辖市人民政府卫生行政部门应当会同同级农业行政、质量监督、工商行政管理、食品药品监督管理、商务、工业和信息化等部门，对食品安全国家标准和食品安全地方标准的执行情况分别进行跟踪评价，并应当根据评价结果适时组织修订食品安全标准。</p>
			<p>国务院和省、自治区、直辖市人民政府的农业行政、质量监督、工商行政管理、食品药品监督管理、商务、工业和信息化等部门应当收集、汇总食品安全标准在执行过程中存在的问题，并及时向同级卫生行政部门通报。</p>
			<p>食品生产经营者、食品行业协会发现食品安全标准在执行过程中存在问题的，应当立即向食品安全监督管理部门报告。</p>

			<p class="tc" style="text-indent:0"> 第四章　 食品生产经营</p>
			<p>第二十条　设立食品生产企业，应当预先核准企业名称，依照食品安全法的规定取得食品生产许可后，办理工商登记。县级以上质量监督管理部门依照有关法律、行政法规规定审核相关资料、核查生产场所、检验相关产品；对相关资料、场所符合规定要求以及相关产品符合食品安全标准或者要求的，应当作出准予许可的决定。</p>
			<p>其他食品生产经营者应当在依法取得相应的食品生产许可、食品流通许可、餐饮服务许可后，办理工商登记。法律、法规对食品生产加工小作坊和食品摊贩另有规定的，依照其规定。</p>
			<p>食品生产许可、食品流通许可和餐饮服务许可的有效期为3年。</p>
			<p>第二十一条　食品生产经营者的生产经营条件发生变化，不符合食品生产经营要求的，食品生产经营者应当立即采取整改措施；有发生食品安全事故的潜在风险的，应当立即停止食品生产经营活动，并向所在地县级质量监督、工商行政管理或者食品药品监督管理部门报告；需要重新办理许可手续的，应当依法办理。</p>
			<p> 县级以上质量监督、工商行政管理、食品药品监督管理部门应当加强对食品生产经营者生产经营活动的日常监督检查；发现不符合食品生产经营要求情形的，应当责令立即纠正，并依法予以处理；不再符合生产经营许可条件的，应当依法撤销相关许可。</p>
			<p>第二十二条　食品生产经营企业应当依照食品安全法第三十二条的规定组织职工参加食品安全知识培训，学习食品安全法律、法规、规章、标准和其他食品安全知识，并建立培训档案。</p>

			<p>第二十三条　食品生产经营者应当依照食品安全法第三十四条的规定建立并执行从业人员健康检查制度和健康档案制度。从事接触直接入口食品工作的人员患有痢疾、伤寒、甲型病毒性肝炎、戊型病毒性肝炎等消化道传染病，以及患有活动性肺结核、化脓性或者渗出性皮肤病等有碍食品安全的疾病的，食品生产经营者应当将其调整到其他不影响食品安全的工作岗位。</p>
			<p>食品生产经营人员依照食品安全法第三十四条第二款规定进行健康检查，其检查项目等事项应当符合所在地省、自治区、直辖市的规定。</p>
			<p>第二十四条　食品生产经营企业应当依照食品安全法第三十六条第二款、第三十七条第一款、第三十九条第二款的规定建立进货查验记录制度、食品出厂检验记录制度，如实记录法律规定记录的事项，或者保留载有相关信息的进货或者销售票据。记录、票据的保存期限不得少于2年。</p>
			<p>第二十五条　实行集中统一采购原料的集团性食品生产企业，可以由企业总部统一查验供货者的许可证和产品合格证明文件，进行进货查验记录；对无法提供合格证明文件的食品原料，应当依照食品安全标准进行检验。</p>

			<p>指第二十六条　食品生产企业应当建立并执行原料验收、生产过程安全管理、贮存管理、设备管理、不合格产品管理等食品安全管理制度，不断完善食品安全保障体系，保证食品安全。</p>

			<p>第二十七条　食品生产企业应当就下列事项制定并实施控制要求，保证出厂的食品符合食品安全标准：</p>
			<p>(一)原料采购、原料验收、投料等原料控制；</p>
			<p>(二)生产工序、设备、贮存、包装等生产关键环节控制；</p>
			<p>(三)原料检验、半成品检验、成品出厂检验等检验控制；</p>
			<p>(四)运输、交付控制。</p>

			<p>食品生产过程中有不符合控制要求情形的，食品生产企业应当立即查明原因并采取整改措施。</p>
			<p>第二十八条　食品生产企业除依照食品安全法第三十六条、第三十七条规定进行进货查验记录和食品出厂检验记录外，还应当如实记录食品生产过程的安全管理情况。记录的保存期限不得少于2年。</p>
			<p>第二十九条　从事食品批发业务的经营企业销售食品，应当如实记录批发食品的名称、规格、数量、生产批号、保质期、购货者名称及联系方式、销售日期等内容，或者保留载有相关信息的销售票据。记录、票据的保存期限不得少于2年。</p>
			<p>第三十条　国家鼓励食品生产经营者采用先进技术手段，记录食品安全法和本条例要求记录的事项。</p>
			<p>第三十一条　餐饮服务提供者应当制定并实施原料采购控制要求，确保所购原料符合食品安全标准。</p>
			<p>餐饮服务提供者在制作加工过程中应当检查待加工的食品及原料，发现有腐败变质或者其他感官性状异常的，不得加工或者使用。</p>
			<p>第三十二条　餐饮服务提供企业应当定期维护食品加工、贮存、陈列等设施、设备；定期清洗、校验保温设施及冷藏、冷冻设施。</p>
			<p>餐饮服务提供者应当按照要求对餐具、饮具进行清洗、消毒，不得使用未经清洗和消毒的餐具、饮具。</p>
			<p>第三十三条　对依照食品安全法第五十三条规定被召回的食品，食品生产者应当进行无害化处理或者予以销毁，防止其再次流入市场。对因标签、标识或者说明书不符合食品安全标准而被召回的食品，食品生产者在采取补救措施且能保证食品安全的情况下可以继续销售；销售时应当向消费者明示补救措施。</p>
			<p>认可证书的格式和认可标志的式样须经国务院认证认可监督管理部门批准。</p>
			<p>县级以上质量监督、工商行政管理、食品药品监督管理部门应当将食品生产者召回不符合食品安全标准的食品的情况，以及食品经营者停止经营不符合食品安全标准的食品的情况，记入食品生产经营者食品安全信用档案。</p>


			<p class="tc" style="text-indent:0">第五章 食 品 检 验</p>

			<p>第三十四条　申请人依照食品安全法第六十条第三款规定向承担复检工作的食品检验机构（以下称复检机构）申请复检，应当说明理由。</p>
			<p>复检机构名录由国务院认证认可监督管理、卫生行政、农业行政等部门共同公布。复检机构出具的复检结论为最终检验结论。</p>
			<p>复检机构由复检申请人自行选择。复检机构与初检机构不得为同一机构。</p>
			<p>第三十五条　食品生产经营者对依照食品安全法第六十条规定进行的抽样检验结论有异议申请复检，复检结论表明食品合格的，复检费用由抽样检验的部门承担；复检结论表明食品不合格的，复检费用由食品生产经营者承担。</p>


			<p class="tc" style="text-indent:0">第六章　食品进出口</p>

			<p>第三十六条　进口食品的进口商应当持合同、发票、装箱单、提单等必要的凭证和相关批准文件，向海关报关地的出入境检验检疫机构报检。进口食品应当经出入境检验检疫机构检验合格。海关凭出入境检验检疫机构签发的通关证明放行。</p>
			<p>第五十三条 认可机构应当定期向国务院认证认可监督管理部门提交报告，并对报告的真实性负责；报告应当对认可机构执行认可制度的情况、从事认可活动的情况、从业人员的工作情况作出说明。</p>

			<p>第三十七条　进口尚无食品安全国家标准的食品，或者首次进口食品添加剂新品种、食品相关产品新品种，进口商应当向出入境检验检疫机构提交依照食品安全法第六十三条规定取得的许可证明文件，出入境检验检疫机构应当按照国务院卫生行政部门的要求进行检验。</p>
			<p>第三十八条　国家出入境检验检疫部门在进口食品中发现食品安全国家标准未规定且可能危害人体健康的物质，应当按照食品安全法第十二条的规定向国务院卫生行政部门通报。</p>
			<p>第三十九条　向我国境内出口食品的境外食品生产企业依照食品安全法第六十五条规定进行注册，其注册有效期为4年。已经注册的境外食品生产企业提供虚假材料，或者因境外食品生产企业的原因致使相关进口食品发生重大食品安全事故的，国家出入境检验检疫部门应当撤销注册，并予以公告。</p>
			<p>第四十条　进口的食品添加剂应当有中文标签、中文说明书。标签、说明书应当符合食品安全法和我国其他有关法律、行政法规的规定以及食品安全国家标准的要求，载明食品添加剂的原产地和境内代理商的名称、地址、联系方式。食品添加剂没有中文标签、中文说明书或者标签、说明书不符合本条规定的，不得进口。</p>
			<p>第四十一条　出入境检验检疫机构依照食品安全法第六十二条规定对进口食品实施检验，依照食品安全法第六十八条规定对出口食品实施监督、抽检，具体办法由国家出入境检验检疫部门制定。</p>
			<p>第四十二条　国家出入境检验检疫部门应当建立信息收集网络，依照食品安全法第六十九条的规定，收集、汇总、通报下列信息：</p>
			<p>(一)出入境检验检疫机构对进出口食品实施检验检疫发现的食品安全信息；</p>
			<p>(二)行业协会、消费者反映的进口食品安全信息；</p>
			<p>(三)国际组织、境外政府机构发布的食品安全信息、风险预警信息，以及境外行业协会等组织、消费者反映的食品安全信息</p>
			<p>(四)其他食品安全信息。</p>
			<p>接到通报的部门必要时应当采取相应处理措施。</p>
			<p>食品安全监督管理部门应当及时将获知的涉及进出口食品安全的信息向国家出入境检验检疫部门通报。</p>


			<p class="tc" style="text-indent:0">第七章　 食品安全事故处置</p>

			<p>第四十三条　发生食品安全事故的单位对导致或者可能导致食品安全事故的食品及原料、工具、设备等，应当立即采取封存等控制措施，并自事故发生之时起2小时内向所在地县级人民政府卫生行政部门报告。</p>
			<p>第四十四条　调查食品安全事故，应当坚持实事求是、尊重科学的原则，及时、准确查清事故性质和原因，认定事故责任，提出整改措施。</p>
			<p>参与食品安全事故调查的部门应当在卫生行政部门的统一组织协调下分工协作、相互配合，提高事故调查处理的工作效率。</p>
			<p>食品安全事故的调查处理办法由国务院卫生行政部门会同国务院有关部门制定。</p>
			<p>第四十五条　参与食品安全事故调查的部门有权向有关单位和个人了解与事故有关的情况，并要求提供相关资料和样品。</p>
			<p>有关单位和个人应当配合食品安全事故调查处理工作，按照要求提供相关资料和样品，不得拒绝。</p>
			<p>第四十六条　任何单位或者个人不得阻挠、干涉食品安全事故的调查处理。</p>


			<p class="tc" style="text-indent:0">第八章 　监 督 管 理</p>

			<p>第四十七条　县级以上地方人民政府依照食品安全法第七十六条规定制定的食品安全年度监督管理计划，应当包含食品抽样检验的内容。对专供婴幼儿、老年人、病人等特定人群的主辅食品，应当重点加强抽样检验。</p>
			<p>县级以上农业行政、质量监督、工商行政管理、食品药品监督管理部门应当按照食品安全年度监督管理计划进行抽样检验。抽样检验购买样品所需费用和检验费等，由同级财政列支。</p>
			<p>第四十八条　县级人民政府应当统一组织、协调本级卫生行政、农业行政、质量监督、工商行政管理、食品药品监督管理部门，依法对本行政区域内的食品生产经营者进行监督管理；对发生食品安全事故风险较高的食品生产经营者，应当重点加强监督管理。</p>
			<p>在国务院卫生行政部门公布食品安全风险警示信息，或者接到所在地省、自治区、直辖市人民政府卫生行政部门依照本条例第十条规定通报的食品安全风险监测信息后，设区的市级和县级人民政府应当立即组织本级卫生行政、农业行政、质量监督、工商行政管理、食品药品监督管理部门采取有针对性的措施，防止发生食品安全事故。</p>
			<p>第四十九条　国务院卫生行政部门应当根据疾病信息和监督管理信息等，对发现的添加或者可能添加到食品中的非食品用化学物质和其他可能危害人体健康的物质的名录及检测方法予以公布；国务院质量监督、工商行政管理和国家食品药品监督管理部门应当采取相应的监督管理措施。</p>
			<p>第五十条　质量监督、工商行政管理、食品药品监督管理部门在食品安全监督管理工作中可以采用国务院质量监督、工商行政管理和国家食品药品监督管理部门认定的快速检测方法对食品进行初步筛查；对初步筛查结果表明可能不符合食品安全标准的食品，应当依照食品安全法第六十条第三款的规定进行检验。初步筛查结果不得作为执法依据。</p>
			<p>第五十一条　食品安全法第八十二条第二款规定的食品安全日常监督管理信息包括：</p>
			<p>(一)依照食品安全法实施行政许可的情况；</p>
			<p>(二)责令停止生产经营的食品、食品添加剂、食品相关产品的名录；</p>
			<p>(三)查处食品生产经营违法行为的情况；</p>
			<p>(四)专项检查整治工作情况；</p>
			<p>(五)法律、行政法规规定的其他食品安全日常监督管理信息。</p>
			<p>前款规定的信息涉及两个以上食品安全监督管理部门职责的，由相关部门联合公布。</p>
			<p>第五十二条　食品安全监督管理部门依照食品安全法第八十二条规定公布信息，应当同时对有关食品可能产生的危害进行解释、说明。</p>
			<p>第五十三条　卫生行政、农业行政、质量监督、工商行政管理、食品药品监督管理等部门应当公布本单位的电子邮件地址或者电话，接受咨询、投诉、举报；对接到的咨询、投诉、举报，应当依照食品安全法第八十条的规定进行答复、核实、处理，并对咨询、投诉、举报和答复、核实、处理的情况予以记录、保存。</p>
			<p>第五十四条　国务院工业和信息化、商务等部门依据职责制定食品行业的发展规划和产业政策，采取措施推进产业结构优化，加强对食品行业诚信体系建设的指导，促进食品行业健康发展。</p>

			<p class="tc" style="text-indent:0">第九章 　法 律 责 任</p>

			<p>第五十五条　食品生产经营者的生产经营条件发生变化，未依照本条例第二十一条规定处理的，由有关主管部门责令改正，给予警告；造成严重后果的，依照食品安全法第八十五条的规定给予处罚。</p>
			<p>第五十六条　餐饮服务提供者未依照本条例第三十一条第一款规定制定、实施原料采购控制要求的，依照食品安全法第八十六条的规定给予处罚。</p>
			<p>餐饮服务提供者未依照本条例第三十一条第二款规定检查待加工的食品及原料，或者发现有腐败变质或者其他感官性状异常仍加工、使用的，依照食品安全法第八十五条的规定给予处罚。</p>
			<p>第五十七条　有下列情形之一的，依照食品安全法第八十七条的规定给予处罚：</p>
			<p>(一)食品生产企业未依照本条例第二十六条规定建立、执行食品安全管理制度的；</p>
			<p>(二)食品生产企业未依照本条例第二十七条规定制定、实施生产过程控制要求，或者食品生产过程中有不符合控制要求的情形未依照规定采取整改措施的；</p>
			<p>(三)食品生产企业未依照本条例第二十八条规定记录食品生产过程的安全管理情况并保存相关记录的；</p>
			<p>(四)从事食品批发业务的经营企业未依照本条例第二十九条规定记录、保存销售信息或者保留销售票据的；</p>
			<p>(五)餐饮服务提供企业未依照本条例第三十二条第一款规定定期维护、清洗、校验设施、设备的；</p>
			<p>(六)餐饮服务提供者未依照本条例第三十二条第二款规定对餐具、饮具进行清洗、消毒，或者使用未经清洗和消毒的餐具、饮具的。</p>
			<p>第五十八条　进口不符合本条例第四十条规定的食品添加剂的，由出入境检验检疫机构没收违法进口的食品添加剂；违法进口的食品添加剂货值金额不足1万元的，并处2000元以上5万元以下罚款；货值金额1万元以上的，并处货值金额2倍以上5倍以下罚款。</p>
			<p>第五十九条　医疗机构未依照本条例第八条规定报告有关疾病信息的，由卫生行政部门责令改正，给予警告。</p>
			<p>第六十条　发生食品安全事故的单位未依照本条例第四十三条规定采取措施并报告的，依照食品安全法第八十八条的规定给予处罚。</p>
			<p>第六十一条　县级以上地方人民政府不履行食品安全监督管理法定职责，本行政区域出现重大食品安全事故、造成严重社会影响的，依法对直接负责的主管人员和其他直接责任人员给予记大过、降级、撤职或者开除的处分。</p>
			<p>县级以上卫生行政、农业行政、质量监督、工商行政管理、食品药品监督管理部门或者其他有关行政部门不履行食品安全监督管理法定职责、日常监督检查不到位或者滥用职权、玩忽职守、徇私舞弊的，依法对直接负责的主管人员和其他直接责任人员给予记大过或者降级的处分；造成严重后果的，给予撤职或者开除的处分；其主要负责人应当引咎辞职。</p>

			<p class="tc" style="text-indent:0">第十章 　附　　则</p>
			<p>第六十二条　本条例下列用语的含义：</p>
			<p>食品安全风险评估，指对食品、食品添加剂中生物性、化学性和物理性危害对人体健康可能造成的不良影响所进行的科学评估，包括危害识别、危害特征描述、暴露评估、风险特征描述等。</p>
			<p>餐饮服务，指通过即时制作加工、商业销售和服务性劳动等，向消费者提供食品和消费场所及设施的服务活动。</p>
			<p>第六十三条　食用农产品质量安全风险监测和风险评估由县级以上人民政府农业行政部门依照《中华人民共和国农产品质量安全法》的规定进行</p>
			<p>国境口岸食品的监督管理由出入境检验检疫机构依照食品安全法和本条例以及有关法律、行政法规的规定实施。</p>
			<p>食品药品监督管理部门对声称具有特定保健功能的食品实行严格监管，具体办法由国务院另行制定。</p>
			<p>第六十四条　本条例自公布之日起施行。</p>

		</article>
		<div style="height: 1.4rem;"></div>
	</section>

</template>

<template name="fgxq4">
	
	<section id="zdetail">
		
		<div class="title">
			<p>中华人民共和国进出境动植物检疫法实施条例</p>
			<p class="date">2015-04-16</p>
		</div>

		<article>
			<p class="tc" style="text-indent:0">中华人民共和国进出境动植物检疫法实施条例</p>

			<p class="tc" style="text-indent:0">1996年12月2日国务院令第206号公布</p>
			<p class="tc" style="text-indent:0">自1997年1月1日起施行</p>
			<p class="tc" style="text-indent:0">目    录</p>


			<p>第一章 总 则</p>

			<p>第二章　检疫审批</p>

			<p>第三章　进境检疫</p>

			<p>第四章　出境检疫</p>

			<p>第五章　过境检疫</p>

			<p>第六章　携带、邮寄物检疫</p>

			<p>第七章　运输工具检疫</p>
			
			<p>第八章　检疫监督</p>

			<p>第九章  法律责任</p>

			<p>第十章  附    则</p>

			<p class="tc" style="text-indent:0">第一章　总   则</p>
			
			<p>第一条　根据《中华人民共和国进出境动植物检疫法》（以下简称进出境动植物检疫法）的规定，制定本条例。</p>
			<p>第二条　下列各物，依照进出境动植物检疫法和本条例的规定实施检疫：</p>
			<p>(一)进境、出境、过境的动植物、动植物产品和其他检疫物；</p>
			<p>(二)装载动植物、动植物产品和其他检疫物的装载容器、包装物、铺垫材料；</p>
			<p>(三)来自动植物疫区的运输工具；</p>
			<p>(四)进境拆解的废旧船舶；</p>
			<p>(五)有关法律、行政法规、国际条约规定或者贸易合同约定应当实施进出境动植物检疫的其他货物、物品。</p>
			<p>第三条　国务院农业行政主管部门主管全国进出境动植物检疫工作。</p>
			<p>中华人民共和国动植物检疫局（以下简称国家动植物检疫局）统一管理全国进出境动植物检疫工作，收集国内外重大动植物疫情，负责国际间进出境动植物检疫的合作与交流。</p>
			<p>国家动植物检疫局在对外开放的口岸和进出境动植物检疫业务集中的地点设立的口岸动植物检疫机关，依照进出境动植物检疫法和本条例的规定，实施进出境动植物检疫。</p>
			<p>第四条　国（境）外发生重大动植物疫情并可能传入中国时，根据情况采取下列紧急预防措施：</p>
			<p>(一)国务院可以对相关边境区域采取控制措施，必要时下令禁止来自动植物疫区的运输工具进境或者封锁有关口岸；</p>
			<p>(二)国务院农业行政主管部门可以公布禁止从动植物疫情流行的国家和地区进境的动植物、动植物产品和其他检疫物的名录；</p>
			<p>(三)有关口岸动植物检疫机关可以对可能受病虫害污染的本条例第二条所列进境各物采取紧急检疫处理措施；</p>
			<p>(四)受动植物疫情威胁地区的地方人民政府可以立即组织有关部门制定并实施应急方案，同时向上级人民政府和国家动植物检疫局报告。</p>
			<p>邮电、运输部门对重大动植物疫情报告和送检材料应当优先传送。</p>
			<p>第五条　享有外交、领事特权与豁免的外国机构和人员公用或者自用的动植物、动植物产品和其他检疫物进境，应当依照进出境动植物检疫法和本条例的规定实施检疫；口岸动植物检疫机关查验时，应当遵守有关法律的规定。</p>
			<p>第六条　海关依法配合口岸动植物检疫机关，对进出境动植物、动植物产品和其他检疫物实行监管。具体办法由国务院农业行政主管部门会同海关总署制定。</p>
			<p>第七条　进出境动植物检疫法所称动植物疫区和动植物疫情流行的国家与地区的名录，由国务院农业行政主管部门确定并公布。</p>
			<p>第八条　对贯彻执行进出境动植物检疫法和本条例做出显著成绩的单位和个人，给予奖励。</p>
			

			<p class="tc" style="text-indent:0">第二章　检 疫 审 批</p>

			<p>第九条　输入动物、动物产品和进出境动植物检疫法第五条第一款所列禁止进境物的检疫审批，由国家动植物检疫局或者其授权的口岸动植物检疫机关负责。</p>
			<p>输入植物种子、种苗及其他繁殖材料的检疫审批，由植物检疫条例规定的机关负责。</p>
			<p>第十条　符合下列条件的，方可办理进境检疫审批手续：</p>
			<p>(一)输出国家或者地区无重大动植物疫情；</p>
			<p>(二)符合中国有关动植物检疫法律、法规、规章的规定；</p>
			<p>(三)符合中国与输出国家或者地区签订的有关双边检疫协定（含检疫协议、备忘录等，下同）。</p>
			<p>第十一条　检疫审批手续应当在贸易合同或者协议签订前办妥。</p>
			<p>第十二条　携带、邮寄植物种子、种苗及其他繁殖材料进境的，必须事先提出申请，办理检疫审批手续；因特殊情况无法事先办理的，携带人或者邮寄人应当在口岸补办检疫审批手续，经审批机关同意并经检疫合格后方准进境。</p>
			<p>第十三条　要求运输动物过境的，货主或者其代理人必须事先向国家动植物检疫局提出书面申请，提交输出国家或者地区政府动植物检疫机关出具的疫情证明、输入国家或者地区政府动植物检疫机关出具的准许该动物进境的证件，并说明拟过境的路线，国家动植物检疫局审查同意后，签发《动物过境许可证》。</p>
			<p>第十四条　因科学研究等特殊需要，引进进出境动植物检疫法第五条第一款所列禁止进境物的，办理禁止进境物特许检疫审批手续时，货主、物主或者其代理人必须提交书面申请，说明其数量、用途、引进方式、进境后的防疫措施，并附具有关口岸动植物检疫机关签署的意见。</p>
			<p>第十五条　办理进境检疫审批手续后，有下列情况之一的，货主、物主或者其代理人应当重新申请办理检疫审批手续：</p>
			<p>(一)变更进境物的品种或者数量的；</p>
			<p>(二)变更输出国家或者地区的；</p>
			<p>(三)变更进境口岸的；</p>
			<p>(四)超过检疫审批有效期的。</p>


			<p class="tc" style="text-indent:0">第三章　进 境 检 疫</p>

			<p>第十六条　进出境动植物检疫法第十一条所称中国法定的检疫要求，是指中国的法律、行政法规和国务院农业行政主管部门规定的动植物检疫要求。</p>
			<p>第十七条　国家对向中国输出动植物产品的国外生产、加工、存放单位，实行注册登记制度。具体办法由国务院农业行政主管部门制定。</p>
			<p>第十八条　输入动植物、动植物产品和其他检疫物的，货主或者其代理人应当在进境前或者进境时向进境口岸动植物检疫机关报检。属于调离海关监管区检疫的，运达指定地点时，货主或者其代理人应当通知有关口岸动植物检疫机关。属于转关货物的，货主或者其代理人应当在进境时向进境口岸动植物检疫机关申报；到达指运地时，应当向指运地口岸动植物检疫机关报检。</p>
			<p>输入种畜禽及其精液、胚胎的，应当在进境前30日报检；输入其他动物的，应当在进境前15日报检；输入植物种子、种苗及其他繁殖材料的，应当在进境前７日报检。</p>
			<p>动植物性包装物、铺垫材料进境时，货主或者其代理人应当及时向口岸动植物检疫机关申报；动植物检疫机关可以根据具体情况对申报物实施检疫。</p>
			<p>前款所称动植物性包装物、铺垫材料，是指直接用作包装物、铺垫材料的动物产品和植物、植物产品。</p>
			<p>第十九条　向口岸动植物检疫机关报检时，应当填写报检单，并提交输出国家或者地区政府动植物检疫机关出具的检疫证书、产地证书和贸易合同、信用证、发票等单证；依法应当办理检疫审批手续的，还应当提交检疫审批单。无输出国家或者地区政府动植物检疫机关出具的有效检疫证书，或者未依法办理检疫审批手续的，口岸动植物检疫机关可以根据具体情况，作退回或者销毁处理。</p>
			<p>第二十条　输入的动植物、动植物产品和其他检疫物运达口岸时，检疫人员可以到运输工具上和货物现场实施检疫，核对货、证是否相符，并可以按照规定采取样品。承运人、货主或者其代理人应当向检疫人员提供装载清单和有关资料。</p>
			<p>第二十一条　装载动物的运输工具抵达口岸时，上下运输工具或者接近动物的人员，应当接受口岸动植物检疫机关实施的防疫消毒，并执行其采取的其他现场预防措施。</p>
			<p>第二十二条　检疫人员应当按照下列规定实施现场检疫：</p>
			<p>(一)动物：检查有无疫病的临床症状。发现疑似感染传染病或者已死亡的动物时，在货主或者押运人的配合下查明情况，立即处理。动物的铺垫材料、剩余饲料和排泄物等，由货主或者其代理人在检疫人员的监督下，作除害处理。</p>
			<p>(二)动物产品：检查有无腐败变质现象，容器、包装是否完好。符合要求的，允许卸离运输工具。发现散包、容器破裂的，由货主或者其代理人负责整理完好，方可卸离运输工具。根据情况，对运输工具的有关部位及装载动物产品的容器、外表包装、铺垫材料、被污染场地等进行消毒处理。需要实施实验室检疫的，按照规定采取样品。对易滋生植物害虫或者混藏杂草种子的动物产品，同时实施植物检疫。</p>
			<p>(三)植物、植物产品：检查货物和包装物有无病虫害，并按照规定采取样品。发现病虫害并有扩散可能时，及时对该批货物、运输工具和装卸现场采取必要的防疫措施。对来自动物传染病疫区或者易带动物传染病和寄生虫病病原体并用作动物饲料的植物产品，同时实施动物检疫。</p>
			<p>(四)动植物性包装物、铺垫材料：检查是否携带病虫害、混藏杂草种子、沾带土壤，并按照规定采取样品。</p>
			<p>(五)其他检疫物：检查包装是否完好及是否被病虫害污染。发现破损或者被病虫害污染时，作除害处理。</p>
			<p>第二十三条　对船舶、火车装运的大宗动植物产品，应当就地分层检查；限于港口、车站的存放条件，不能就地检查的，经口岸动植物检疫机关同意，也可以边卸载边疏运，将动植物产品运往指定的地点存放。在卸货过程中经检疫发现疫情时，应当立即停止卸货，由货主或者其代理人按照口岸动植物检疫机关的要求，对已卸和未卸货物作除害处理，并采取防止疫情扩散的措施；对被病虫害污染的装卸工具和场地，也应当作除害处理。</p>
			<p>第二十四条　输入种用大中家畜的，应当在国家动植物检疫局设立的动物隔离检疫场所隔离检疫45日；输入其他动物的，应当在口岸动植物检疫机关指定的动物隔离检疫场所隔离检疫30日。动物隔离检疫场所管理办法，由国务院农业行政主管部门制定。</p>
			<p>第二十五条　进境的同一批动植物产品分港卸货时，口岸动植物检疫机关只对本港卸下的货物进行检疫，先期卸货港的口岸动植物检疫机关应当将检疫及处理情况及时通知其他分卸港的口岸动植物检疫机关；需要对外出证的，由卸毕港的口岸动植物检疫机关汇总后统一出具检疫证书。</p>
			<p>在分卸港实施检疫中发现疫情并必须进行船上熏蒸、消毒时，由该分卸港的口岸动植物检疫机关统一出具检疫证书，并及时通知其他分卸港的口岸动植物检疫机关。</p>
			<p>第二十六条　对输入的动植物、动植物产品和其他检疫物，按照中国的国家标准、行业标准以及国家动植物检疫局的有关规定实施检疫。</p>
			<p>第二十七条　输入动植物、动植物产品和其他检疫物，经检疫合格的，由口岸动植物检疫机关在报关单上加盖印章或者签发《检疫放行通知单》；需要调离进境口岸海关监管区检疫的，由进境口岸动植物检疫机关签发《检疫调离通知单》。货主或者其代理人凭口岸动植物检疫机关在报关单上加盖的印章或者签发的《检疫放行通知单》、《检疫调离通知单》办理报关、运递手续。海关对输入的动植物、动植物产品和其他检疫物，凭口岸动植物检疫机关在报关单上加盖的印章或者签发的《检疫放行通知单》、《检疫调离通知单》验放。运输、邮电部门凭单运递，运递期间国内其他检疫机关不再检疫。</p>
			<p>第二十八条　输入动植物、动植物产品和其他检疫物，经检疫不合格的，由口岸动植物检疫机关签发《检疫处理通知单》，通知货主或者其代理人在口岸动植物检疫机关的监督和技术指导下，作除害处理；需要对外索赔的，由口岸动植物检疫机关出具检疫证书。</p>
			<p>第二十九条　国家动植物检疫局根据检疫需要，并商输出动植物、动植物产品国家或者地区政府有关机关同意，可以派检疫人员进行预检、监装或者产地疫情调查。</p>
			<p>第三十条　海关、边防等部门截获的非法进境的动植物、动植物产品和其他检疫物，应当就近交由口岸动植物检疫机关检疫。</p>
			

			<p class="tc" style="text-indent:0">第四章　出 境 检 疫</p>

			<p>第三十一条　货主或者其代理人依法办理动植物、动植物产品和其他检疫物的出境报检手续时，应当提供贸易合同或者协议。</p>
			<p>第三十二条　对输入国要求中国对向其输出的动植物、动植物产品和其他检疫物的生产、加工、存放单位注册登记的，口岸动植物检疫机关可以实行注册登记，并报国家动植物检疫局备案。</p>
			<p>第三十三条　输出动物，出境前需经隔离检疫的，在口岸动植物检疫机关指定的隔离场所检疫。输出植物、动植物产品和其他检疫物的，在仓库或者货场实施检疫；根据需要，也可以在生产、加工过程中实施检疫。</p>
			<p>待检出境植物、动植物产品和其他检疫物，应当数量齐全、包装完好、堆放整齐、唛头标记明显。</p>
			<p>第三十四条　输出动植物、动植物产品和其他检疫物的检疫依据：</p>
			<p>(一)输入国家或者地区和中国有关动植物检疫规定；</p>
			<p>(二)双边检疫协定；</p>
			<p>(三)贸易合同中订明的检疫要求。</p>
			<p>第三十五条　经启运地口岸动植物检疫机关检疫合格的动植物、动植物产品和其他检疫物，运达出境口岸时，按照下列规定办理：</p>
			<p>(一)动物应当经出境口岸动植物检疫机关临床检疫或者复检；</p>
			<p>(二)植物、动植物产品和其他检疫物从启运地随原运输工具出境的，由出境口岸动植物检疫机关验证放行；改换运输工具出境的，换证放行；</p>
			<p>(三)植物、动植物产品和其他检疫物到达出境口岸后拼装的，因变更输入国家或者地区而有不同检疫要求的，或者超过规定的检疫有效期的，应当重新报检。</p>
			<p>第三十六条　输出动植物、动植物产品和其他检疫物，经启运地口岸动植物检疫机关检疫合格的，运达出境口岸时，运输、邮电部门凭启运地口岸动植物检疫机关签发的检疫单证运递，国内其他检疫机关不再检疫。</p>


			<p class="tc" style="text-indent:0">第五章 过 境 检 疫</p>

			<p>第三十七条　运输动植物、动植物产品和其他检疫物过境（含转运，下同）的，承运人或者押运人应当持货运单和输出国家或者地区政府动植物检疫机关出具的证书，向进境口岸动植物检疫机关报检；运输动物过境的，还应当同时提交国家动植物检疫局签发的《动物过境许可证》。</p>
			<p>第三十八条　过境动物运达进境口岸时，由进境口岸动植物检疫机关对运输工具、容器的外表进行消毒并对动物进行临床检疫，经检疫合格的，准予过境。进境口岸动植物检疫机关可以派检疫人员监运至出境口岸，出境口岸动植物检疫机关不再检疫。</p>
			<p>第三十九条　装载过境植物、动植物产品和其他检疫物的运输工具和包装物、装载容器必须完好。经口岸动植物检疫机关检查，发现运输工具或者包装物、装载容器有可能造成途中散漏的，承运人或者押运人应当按照口岸动植物检疫机关的要求，采取密封措施；无法采取密封措施的，不准过境。</p>

			
			<p class="tc" style="text-indent:0">第六章　携带、邮寄物检疫</p>

			<p>第四十条　携带、邮寄植物种子、种苗及其他繁殖材料进境，未依法办理检疫审批手续的，由口岸动植物检疫机关作退回或者销毁处理。邮件作退回处理的，由口岸动植物检疫机关在邮件及发递单上批注退回原因；邮件作销毁处理的，由口岸动植物检疫机关签发通知单，通知寄件人。</p>
			<p>第四十一条　携带动植物、动植物产品和其他检疫物进境的，进境时必须向海关申报并接受口岸动植物检疫机关检疫。海关应当将申报或者查获的动植物、动植物产品和其他检疫物及时交由口岸动植物检疫机关检疫。未经检疫的，不得携带进境。</p>
			<p>第四十二条　口岸动植物检疫机关可以在港口、机场、车站的旅客通道、行李提取处等现场进行检查，对可能携带动植物、动植物产品和其他检疫物而未申报的，可以进行查询并抽检其物品，必要时可以开包（箱）检查。</p>
			<p>旅客进出境检查现场应当设立动植物检疫台位和标志。</p>
			<p>第四十三条　携带动物进境的，必须持有输出动物的国家或者地区政府动植物检疫机关出具的检疫证书，经检疫合格后放行；携带犬、猫等宠物进境的，还必须持有疫苗接种证书。没有检疫证书、疫苗接种证书的，由口岸动植物检疫机关作限期退回或者没收销毁处理。作限期退回处理的，携带人必须在规定的时间内持口岸动植物检疫机关签发的截留凭证，领取并携带出境；逾期不领取的，作自动放弃处理。</p>
			<p>携带植物、动植物产品和其他检疫物进境，经现场检疫合格的，当场放行；需要作实验室检疫或者隔离检疫的，由口岸动植物检疫机关签发截留凭证。截留检疫合格的，携带人持截留凭证向口岸动植物检疫机关领回；逾期不领回的，作自动放弃处理。</p>
			<p>禁止携带、邮寄进出境动植物检疫法第二十九条规定的名录所列动植物、动植物产品和其他检疫物进境。</p>
			<p>第四十四条　邮寄进境的动植物、动植物产品和其他检疫物，由口岸动植物检疫机关在国际邮件互换局（含国际邮件快递公司及其他经营国际邮件的单位，以下简称邮局）实施检疫。邮局应当提供必要的工作条件。</p>
			<p>经现场检疫合格的，由口岸动植物检疫机关加盖检疫放行章，交邮局运递。需要作实验室检疫或者隔离检疫的，口岸动植物检疫机关应当向邮局办理交接手续；检疫合格的，加盖检疫放行章，交邮局运递。</p>
			<p>第四十五条　携带、邮寄进境的动植物、动植物产品和其他检疫物，经检疫不合格又无有效方法作除害处理的，作退回或者销毁处理，并签发《检疫处理通知单》交携带人、寄件人。</p>


			<p class="tc" style="text-indent:0">第七章　运输工具检疫</p>

			<p>第四十六条　口岸动植物检疫机关对来自动植物疫区的船舶、飞机、火车，可以登船、登机、登车实施现场检疫。有关运输工具负责人应当接受检疫人员的询问并在询问记录上签字，提供运行日志和装载货物的情况，开启舱室接受检疫。</p>
			<p>口岸动植物检疫机关应当对前款运输工具可能隐藏病虫害的餐车、配餐间、厨房、储藏室、食品舱等动植物产品存放、使用场所和泔水、动植物性废弃物的存放场所以及集装箱箱体等区域或者部位，实施检疫；必要时，作防疫消毒处理。</p>
			<p>第四十七条　来自动植物疫区的船舶、飞机、火车，经检疫发现有进出境动植物检疫法第十八条规定的名录所列病虫害的，必须作熏蒸、消毒或者其他除害处理。发现有禁止进境的动植物、动植物产品和其他检疫物的，必须作封存或者销毁处理；作封存处理的，在中国境内停留或者运行期间，未经口岸动植物检疫机关许可，不得启封动用。对运输工具上的泔水、动植物性废弃物及其存放场所、容器，应当在口岸动植物检疫机关的监督下作除害处理。</p>
			<p>第四十八条　来自动植物疫区的进境车辆，由口岸动植物检疫机关作防疫消毒处理。装载进境动植物、动植物产品和其他检疫物的车辆，经检疫发现病虫害的，连同货物一并作除害处理。装运供应香港、澳门地区的动物的回空车辆，实施整车防疫消毒。</p>
			<p>第四十九条　进境拆解的废旧船舶，由口岸动植物检疫机关实施检疫。发现病虫害的，在口岸动植物检疫机关监督下作除害处理。发现有禁止进境的动植物、动植物产品和其他检疫物的，在口岸动植物检疫机关的监督下作销毁处理。</p>
			<p>第五十条　来自动植物疫区的进境运输工具经检疫或者经消毒处理合格后，运输工具负责人或者其代理人要求出证的，由口岸动植物检疫机关签发《运输工具检疫证书》或者《运输工具消毒证书》。</p>
			<p>第五十一条　进境、过境运输工具在中国境内停留期间，交通员工和其他人员不得将所装载的动植物、动植物产品和其他检疫物带离运输工具；需要带离时，应当向口岸动植物检疫机关报检。</p>
			<p>第五十二条　装载动物出境的运输工具，装载前应当在口岸动植物检疫机关监督下进行消毒处理。</p>
			<p>装载植物、动植物产品和其他检疫物出境的运输工具，应当符合国家有关动植物防疫和检疫的规定。发现危险性病虫害或者超过规定标准的一般性病虫害的，作除害处理后方可装运。</p>


			<p class="tc" style="text-indent:0">第八章 　检 疫 监 督</p>

			<p>第五十三条　国家动植物检疫局和口岸动植物检疫机关对进出境动植物、动植物产品的生产、加工、存放过程，实行检疫监督制度。具体办法由国务院农业行政主管部门制定。</p>
			<p>第五十四条　进出境动物和植物种子、种苗及其他繁殖材料，需要隔离饲养、隔离种植的，在隔离期间，应当接受口岸动植物检疫机关的检疫监督。</p>
			<p>第五十五条　从事进出境动植物检疫熏蒸、消毒处理业务的单位和人员，必须经口岸动植物检疫机关考核合格。</p>
			<p>口岸动植物检疫机关对熏蒸、消毒工作进行监督、指导，并负责出具熏蒸、消毒证书。</p>
			<p>第五十六条　口岸动植物检疫机关可以根据需要，在机场、港口、车站、仓库、加工厂、农场等生产、加工、存放进出境动植物、动植物产品和其他检疫物的场所实施动植物疫情监测，有关单位应当配合。</p>
			<p>未经口岸动植物检疫机关许可，不得移动或者损坏动植物疫情监测器具。</p>
			<p>第五十七条　口岸动植物检疫机关根据需要，可以对运载进出境动植物、动植物产品和其他检疫物的运输工具、装载容器加施动植物检疫封识或者标志；未经口岸动植物检疫机关许可，不得开拆或者损毁检疫封识、标志。</p>
			<p>动植物检疫封识和标志由国家动植物检疫局统一制发。</p>
			<p>第五十八条　进境动植物、动植物产品和其他检疫物，装载动植物、动植物产品和其他检疫物的装载容器、包装物，运往保税区（含保税工厂、保税仓库等）的，在进境口岸依法实施检疫；口岸动植物检疫机关可以根据具体情况实施检疫监督；经加工复运出境的，依照进出境动植物检疫法和本条例有关出境检疫的规定办理。</p>
	

			<p class="tc" style="text-indent:0">第九章 　法 律 责 任</p>

			<p>第五十九条　有下列违法行为之一的，由口岸动植物检疫机关处5000元以下的罚款：</p>
			<p>(一)未报检或者未依法办理检疫审批手续或者未按检疫审批的规定执行的；</p>
			<p>(二)报检的动植物、动植物产品和其他检疫物与实际不符的。</p>
			<p>有前款第（二）项所列行为，已取得检疫单证的，予以吊销。</p>
			<p>第六十条　有下列违法行为之一的，由口岸动植物检疫机关处3000元以上３万元以下的罚款：</p>
			<p>(一)未经口岸动植物检疫机关许可擅自将进境、过境动植物、动植物产品和其他检疫物卸离运输工具或者运递的；</p>
			<p>(二)擅自调离或者处理在口岸动植物检疫机关指定的隔离场所中隔离检疫的动植物的；</p>
			<p>(三)擅自开拆过境动植物、动植物产品和其他检疫的包装，或者擅自开拆、损毁动植物检疫封识或者标志的；</p>
			<p>(四)擅自抛弃过境动物的尸体、排泄物、铺垫材料或者其他废弃物，或者未按规定处理运输工具上的泔水、动植物性废弃物的。</p>
			<p>第六十一条　依照本法第十七条、第三十二条的规定注册登记的生产、加工、存放动植物、动植物产品和其他检疫物的单位，进出境的上述物品经检疫不合格的，除依照本法有关规定作退回、销毁或者除害处理外，情节严重的，由口岸动植物检疫机关注销注册登记。  </p>
			<p>第六十二条　有下列违法行为之一的，依法追究刑事责任；尚不构成犯罪或者犯罪情节显著轻微依法不需要判处刑罚的，由口岸动植物检疫机关处２万元以上５万元以下的罚款：</p>
			<p>(一)引起重大动植物疫情的；</p>
			<p>(二)伪造、变造动植物检疫单证、印章、标志、封识的。</p>
			<p>第六十三条　从事进出境动植物检疫熏蒸、消毒处理业务的单位和人员，不按照规定进行熏蒸和消毒处理的，口岸动植物检疫机关可以视情节取消其熏蒸、消毒资格。</p>

			

			<p class="tc" style="text-indent:0">第十章 　附　　则</p>

			<p>第六十四条　进出境动植物检疫法和本条例下列用语的含义：</p>
			<p>(一)“植物种子、种苗及其他繁殖材料”，是指栽培、野生的可供繁殖的植物全株或者部分，如植株、苗木（含试管苗）、果实、种子、砧木、接穗、插条、叶片、芽体、块根、块茎、鳞茎、球茎、花粉、细胞培养材料等；</p>
			<p>(二)“装载容器”，是指可以多次使用、易受病虫害污染并用于装载进出境货物的容器，如笼、箱、桶、筐等；</p>
			<p>(三)“其他有害生物”，是指动物传染病、寄生虫病和植物危险性病、虫、杂草以外的各种危害动植物的生物有机体、病原微生物，以及软体类、啮齿类、螨类、多足虫类动物和危险性病虫的中间寄主、媒介生物等；</p>
			<p>(四)“检疫证书”，是指动植物检疫机关出具的关于动植物、动植物产品和其他检疫物健康或者卫生状况的具有法律效力的文件，如《动物检疫证书》、《植物检疫证书》、《动物健康证书》、《兽医卫生证书》、《薰蒸／消毒证书》等。</p>
			<p>第六十五条　对进出境动植物、动植物产品和其他检疫物因实施检疫或者按照规定作熏蒸、消毒、退回、销毁等处理所需费用或者招致的损失，由货主、物主或者其代理人承担。</p>
			<p>第六十六条　口岸动植物检疫机关依法实施检疫，需要采取样品时，应当出具采样凭单；验余的样品，货主、物主或者其代理人应当在规定的期限内领回；逾期不领回的，由口岸动植物检疫机关按照规定处理。</p>
			<p>第六十七条　贸易性动物产品出境的检疫机关，由国务院根据情况规定。</p>
			<p>第六十八条　本条例自1997年１月１日起施行。</p>
			
		</article>
		<div style="height: 1.4rem;"></div>
	</section>

</template>

<template name="fgxq5">
	
	<section id="zdetail">
		
		<div class="title">
			<p>中华人民共和国进出口商品检验法实施条例</p>
			<p class="date">2015-04-16</p>
		</div>

		<article>
			<p class="tc" style="text-indent:0">中华人民共和国进出口商品检验法实施条例</p>

			<p class="tc" style="text-indent:0">（2005年8月31日国务院令第447号公布）</p>
			<p class="tc" style="text-indent:0">（2013年7月18日 国务院令第638号修订）</p>
			<p class="tc" style="text-indent:0">目    录</p>


			<p>第一章 总 则</p>

			<p>第二章　进口商品的检验</p>

			<p>第三章　出口商品的检验</p>

			<p>第四章　监督管理</p>

			<p>第五章  法律责任</p>

			<p>第六章  附    则</p>

			<p class="tc" style="text-indent:0">第一章　总   则</p>
			
			<p>第一条　根据《中华人民共和国进出口商品检验法》（以下简称商检法）的规定，制定本条例。</p>
			<p>第二条　中华人民共和国国家质量监督检验检疫总局（以下简称国家质检总局）主管全国进出口商品检验工作。</p>
			<p>国家质检总局设在省、自治区、直辖市以及进出口商品的口岸、集散地的出入境检验检疫局及其分支机构（以下简称出入境检验检疫机构），管理所负责地区的进出口商品检验工作。</p>
			<p>第三条　国家质检总局应当依照商检法第四条规定，制定、调整必须实施检验的进出口商品目录（以下简称目录）并公布实施。</p>
			<p>目录应当至少在实施之日30日前公布；在紧急情况下，应当不迟于实施之日公布。</p>
			<p>国家质检总局制定、调整目录时，应当征求国务院对外贸易主管部门、海关总署等有关方面的意见。</p>
			<p>第四条　出入境检验检疫机构对列入目录的进出口商品以及法律、行政法规规定须经出入境检验检疫机构检验的其他进出口商品实施检验（以下称法定检验）。</p>
			<p>出入境检验检疫机构对法定检验以外的进出口商品，根据国家规定实施抽查检验。</p>
			<p>第五条　进出口药品的质量检验、计量器具的量值检定、锅炉压力容器的安全监督检验、船舶（包括海上平台、主要船用设备及材料）和集装箱的规范检验、飞机（包括飞机发动机、机载设备）的适航检验以及核承压设备的安全检验等项目，由有关法律、行政法规规定的机构实施检验。</p>
			<p>第六条　进出境的样品、礼品、暂准进出境的货物以及其他非贸易性物品，免予检验。但是，法律、行政法规另有规定的除外。</p>
			<p>列入目录的进出口商品符合国家规定的免予检验条件的，由收货人、发货人或者生产企业申请，经国家质检总局审查批准，出入境检验检疫机构免予检验。</p>
			<p>免予检验的具体办法，由国家质检总局商有关部门制定。</p>
			<p>第七条　法定检验的进出口商品，由出入境检验检疫机构依照商检法第七条规定实施检验。</p>
			<p>国家质检总局根据进出口商品检验工作的实际需要和国际标准，可以制定进出口商品检验方法的技术规范和标准。</p>
			<p>进出口商品检验依照或者参照的技术规范、标准以及检验方法的技术规范和标准，应当至少在实施之日6个月前公布；在紧急情况下，应当不迟于实施之日公布。</p>
			<p>第八条　出入境检验检疫机构根据便利对外贸易的需要，对进出口企业实施分类管理，并按照根据国际通行的合格评定程序确定的检验监管方式，对进出口商品实施检验。</p>
			<p>第九条　出入境检验检疫机构对进出口商品实施检验的内容，包括是否符合安全、卫生、健康、环境保护、防止欺诈等要求以及相关的品质、数量、重量等项目。</p>
			<p>第十条　出入境检验检疫机构依照商检法的规定，对实施许可制度和国家规定必须经过认证的进出口商品实行验证管理，查验单证，核对证货是否相符。</p>
			<p>实行验证管理的进出口商品目录，由国家质检总局商有关部门后制定、调整并公布。</p>
			<p>第十一条　进出口商品的收货人或者发货人可以自行办理报检手续，也可以委托代理报检企业办理报检手续；采用快件方式进出口商品的，收货人或者发货人应当委托出入境快件运营企业办理报检手续。</p>
			<p>第十二条　进出口商品的收货人或者发货人办理报检手续，应当依法向出入境检验检疫机构备案。</p>
			<p>第十三条　代理报检企业接受进出口商品的收货人或者发货人的委托，以委托人的名义办理报检手续的，应当向出入境检验检疫机构提交授权委托书，遵守本条例对委托人的各项规定；以自己的名义办理报检手续的，应当承担与收货人或者发货人相同的法律责任。</p>
			<p>出入境快件运营企业接受进出口商品的收货人或者发货人的委托，应当以自己的名义办理报检手续，承担与收货人或者发货人相同的法律责任。</p>
			<p>委托人委托代理报检企业、出入境快件运营企业办理报检手续的，应当向代理报检企业、出入境快件运营企业提供所委托报检事项的真实情况；代理报检企业、出入境快件运营企业接受委托人的委托办理报检手续的，应当对委托人所提供情况的真实性进行合理审查。</p>
			<p>第十四条　国家质检总局建立进出口商品风险预警机制，通过收集进出口商品检验方面的信息，进行风险评估，确定风险的类型，采取相应的风险预警措施及快速反应措施。</p>
			<p>国家质检总局和出入境检验检疫机构应当及时向有关方面提供进出口商品检验方面的信息。</p>
			<p>第十五条　出入境检验检疫机构工作人员依法执行职务，有关单位和个人应当予以配合，任何单位和个人不得非法干预和阻挠。</p>
			

			<p class="tc" style="text-indent:0">第二章　进口商品的检验</p>

			<p>第十六条　法定检验的进口商品的收货人应当持合同、发票、装箱单、提单等必要的凭证和相关批准文件，向海关报关地的出入境检验检疫机构报检；海关放行后20日内，收货人应当依照本条例第十八条的规定，向出入境检验检疫机构申请检验。法定检验的进口商品未经检验的，不准销售，不准使用。</p>
			<p>进口实行验证管理的商品，收货人应当向海关报关地的出入境检验检疫机构申请验证。出入境检验检疫机构按照国家质检总局的规定实施验证。</p>
			<p>第十七条　法定检验的进口商品、实行验证管理的进口商品，海关凭出入境检验检疫机构签发的货物通关单办理海关通关手续。</p>
			<p>第十八条　法定检验的进口商品应当在收货人报检时申报的目的地检验。</p>
			<p>大宗散装商品、易腐烂变质商品、可用作原料的固体废物以及已发生残损、短缺的商品，应当在卸货口岸检验。</p>
			<p>对前两款规定的进口商品，国家质检总局可以根据便利对外贸易和进出口商品检验工作的需要，指定在其他地点检验。</p>
			<p>第十九条　除法律、行政法规另有规定外，法定检验的进口商品经检验，涉及人身财产安全、健康、环境保护项目不合格的，由出入境检验检疫机构责令当事人销毁，或者出具退货处理通知单并书面告知海关，海关凭退货处理通知单办理退运手续；其他项目不合格的，可以在出入境检验检疫机构的监督下进行技术处理，经重新检验合格的，方可销售或者使用。当事人申请出入境检验检疫机构出证的，出入境检验检疫机构应当及时出证。</p>
			<p>出入境检验检疫机构对检验不合格的进口成套设备及其材料，签发不准安装使用通知书。经技术处理，并经出入境检验检疫机构重新检验合格的，方可安装使用。</p>
			<p>第二十条　法定检验以外的进口商品，经出入境检验检疫机构抽查检验不合格的，依照本条例第十九条的规定处理。</p>
			<p>实行验证管理的进口商品，经出入境检验检疫机构验证不合格的，参照本条例第十九条的规定处理或者移交有关部门处理。</p>
			<p>法定检验以外的进口商品的收货人，发现进口商品质量不合格或者残损、短缺，申请出证的，出入境检验检疫机构或者其他检验机构应当在检验后及时出证。</p>
			<p>第二十一条　对属于法定检验范围内的关系国计民生、价值较高、技术复杂的以及其他重要的进口商品和大型成套设备，应当按照对外贸易合同约定监造、装运前检验或者监装。收货人保留到货后最终检验和索赔的权利。</p>
			<p>出入境检验检疫机构可以根据需要派出检验人员参加或者组织实施监造、装运前检验或者监装。</p>
			<p>第二十二条　国家对进口可用作原料的固体废物的国外供货商、国内收货人实行注册登记制度，国外供货商、国内收货人在签订对外贸易合同前，应当取得国家质检总局或者出入境检验检疫机构的注册登记。国家对进口可用作原料的固体废物实行装运前检验制度，进口时，收货人应当提供出入境检验检疫机构或者检验机构出具的装运前检验证书。</p>
			<p>国家允许进口的旧机电产品的收货人在签订对外贸易合同前，应当向国家质检总局或者出入境检验检疫机构办理备案手续。对价值较高，涉及人身财产安全、健康、环境保护项目的高风险进口旧机电产品，应当依照国家有关规定实施装运前检验，进口时，收货人应当提供出入境检验检疫机构或者检验机构出具的装运前检验证书。</p>
			<p>进口可用作原料的固体废物、国家允许进口的旧机电产品到货后，由出入境检验检疫机构依法实施检验。</p>
			<p>第二十三条　进口机动车辆到货后，收货人凭出入境检验检疫机构签发的进口机动车辆检验证单以及有关部门签发的其他单证向车辆管理机关申领行车牌证。在使用过程中发现有涉及人身财产安全的质量缺陷的，出入境检验检疫机构应当及时作出相应处理。</p>


			<p class="tc" style="text-indent:0">第三章　出口商品的检验</p>

			<p>第二十四条　法定检验的出口商品的发货人应当在国家质检总局统一规定的地点和期限内，持合同等必要的凭证和相关批准文件向出入境检验检疫机构报检。法定检验的出口商品未经检验或者经检验不合格的，不准出口。</p>
			<p>出口商品应当在商品的生产地检验。国家质检总局可以根据便利对外贸易和进出口商品检验工作的需要，指定在其他地点检验。</p>
			<p>出口实行验证管理的商品，发货人应当向出入境检验检疫机构申请验证。出入境检验检疫机构按照国家质检总局的规定实施验证。</p>
			<p>第二十五条　在商品生产地检验的出口商品需要在口岸换证出口的，由商品生产地的出入境检验检疫机构按照规定签发检验换证凭单。发货人应当在规定的期限内持检验换证凭单和必要的凭证，向口岸出入境检验检疫机构申请查验。经查验合格的，由口岸出入境检验检疫机构签发货物通关单。</p>
			<p>第二十六条　法定检验的出口商品、实行验证管理的出口商品，海关凭出入境检验检疫机构签发的货物通关单办理海关通关手续。</p>
			<p>第二十七条　法定检验的出口商品经出入境检验检疫机构检验或者经口岸出入境检验检疫机构查验不合格的，可以在出入境检验检疫机构的监督下进行技术处理，经重新检验合格的，方准出口；不能进行技术处理或者技术处理后重新检验仍不合格的，不准出口。</p>
			<p>第二十八条　法定检验以外的出口商品，经出入境检验检疫机构抽查检验不合格的，依照本条例第二十七条的规定处理。</p>
			<p>实行验证管理的出口商品，经出入境检验检疫机构验证不合格的，参照本条例第二十七条的规定处理或者移交有关部门处理。</p>
			<p>第二十九条　出口危险货物包装容器的生产企业，应当向出入境检验检疫机构申请包装容器的性能鉴定。包装容器经出入境检验检疫机构鉴定合格并取得性能鉴定证书的，方可用于包装危险货物。</p>
			<p>出口危险货物的生产企业，应当向出入境检验检疫机构申请危险货物包装容器的使用鉴定。使用未经鉴定或者经鉴定不合格的包装容器的危险货物，不准出口。</p>
			<p>第三十条　对装运出口的易腐烂变质食品、冷冻品的集装箱、船舱、飞机、车辆等运载工具，承运人、装箱单位或者其代理人应当在装运前向出入境检验检疫机构申请清洁、卫生、冷藏、密固等适载检验。未经检验或者经检验不合格的，不准装运。</p>

			<p class="tc" style="text-indent:0">第四章　监 督 管 理</p>

			<p>第三十一条　出入境检验检疫机构根据便利对外贸易的需要，可以对列入目录的出口商品进行出厂前的质量监督管理和检验，对其中涉及人身财产安全、健康的重要出口商品实施出口商品注册登记管理。实施出口商品注册登记管理的出口商品，必须获得注册登记，方可出口。</p>
			<p>出入境检验检疫机构进行出厂前的质量监督管理和检验的内容，包括对生产企业的质量保证工作进行监督检查，对出口商品进行出厂前的检验。</p>
			<p>第三十二条　国家对进出口食品生产企业实施卫生注册登记管理。获得卫生注册登记的出口食品生产企业，方可生产、加工、储存出口食品。获得卫生注册登记的进出口食品生产企业生产的食品，方可进口或者出口。</p>
			<p>实施卫生注册登记管理的进口食品生产企业，应当按照规定向国家质检总局申请卫生注册登记。</p>
			<p>实施卫生注册登记管理的出口食品生产企业，应当按照规定向出入境检验检疫机构申请卫生注册登记。</p>
			<p>出口食品生产企业需要在国外卫生注册的，依照本条第三款规定进行卫生注册登记后，由国家质检总局统一对外办理。</p>
			<p>第三十三条　出入境检验检疫机构根据需要，对检验合格的进出口商品加施商检标志，对检验合格的以及其他需要加施封识的进出口商品加施封识。具体办法由国家质检总局制定。</p>
			<p>第三十四条　出入境检验检疫机构按照有关规定对检验的进出口商品抽取样品。验余的样品，出入境检验检疫机构应当通知有关单位在规定的期限内领回；逾期不领回的，由出入境检验检疫机构处理。</p>
			<p>第三十五条　进出口商品的报检人对出入境检验检疫机构作出的检验结果有异议的，可以自收到检验结果之日起15日内，向作出检验结果的出入境检验检疫机构或者其上级出入境检验检疫机构以至国家质检总局申请复验，受理复验的出入境检验检疫机构或者国家质检总局应当自收到复验申请之日起60日内作出复验结论。技术复杂，不能在规定期限内作出复验结论的，经本机构负责人批准，可以适当延长，但是延长期限最多不超过30日。</p>
			<p>第三十六条　国家质检总局或者出入境检验检疫机构根据进出口商品检验工作的需要，可以指定符合规定资质条件的国内外检测机构承担出入境检验检疫机构委托的进出口商品检测。被指定的检测机构经检查不符合规定要求的，国家质检总局或者出入境检验检疫机构可以取消指定。</p>
			<p>第三十七条　在中华人民共和国境内设立从事进出口商品检验鉴定业务的检验机构，应当符合有关法律、行政法规、规章规定的注册资本、技术能力等条件，经国家质检总局和有关主管部门审核批准，获得许可，并依法办理工商登记后，方可接受委托办理进出口商品检验鉴定业务。</p>
			<p>第三十八条　对检验机构的检验鉴定业务活动有异议的，可以向国家质检总局或者出入境检验检疫机构投诉。</p>
			<p>第三十九条　国家质检总局、出入境检验检疫机构实施监督管理或者对涉嫌违反进出口商品检验法律、行政法规的行为进行调查，有权查阅、复制当事人的有关合同、发票、账簿以及其他有关资料。出入境检验检疫机构对有根据认为涉及人身财产安全、健康、环境保护项目不合格的进出口商品，经本机构负责人批准，可以查封或者扣押，但海关监管货物除外。</p>
			<p>第四十条　国家质检总局、出入境检验检疫机构应当根据便利对外贸易的需要，采取有效措施，简化程序，方便进出口。</p>
			<p>办理进出口商品报检、检验、鉴定等手续，符合条件的，可以采用电子数据文件的形式。</p>
			<p>第四十一条　出入境检验检疫机构依照有关法律、行政法规的规定，签发出口货物普惠制原产地证明、区域性优惠原产地证明、专用原产地证明。</p>
			<p>出口货物一般原产地证明的签发，依照有关法律、行政法规的规定执行。</p>
			<p>第四十二条　出入境检验检疫机构对进出保税区、出口加工区等海关特殊监管区域的货物以及边境小额贸易进出口商品的检验管理，由国家质检总局商海关总署另行制定办法。</p>


			<p class="tc" style="text-indent:0">第五章 过 境 检 疫</p>

			<p>第四十三条　擅自销售、使用未报检或者未经检验的属于法定检验的进口商品，或者擅自销售、使用应当申请进口验证而未申请的进口商品的，由出入境检验检疫机构没收违法所得，并处商品货值金额5％以上20％以下罚款；构成犯罪的，依法追究刑事责任。</p>
			<p>第四十四条　擅自出口未报检或者未经检验的属于法定检验的出口商品，或者擅自出口应当申请出口验证而未申请的出口商品的，由出入境检验检疫机构没收违法所得，并处商品货值金额5％以上20％以下罚款；构成犯罪的，依法追究刑事责任。</p>
			<p>第四十五条　销售、使用经法定检验、抽查检验或者验证不合格的进口商品，或者出口经法定检验、抽查检验或者验证不合格的商品的，由出入境检验检疫机构责令停止销售、使用或者出口，没收违法所得和违法销售、使用或者出口的商品，并处违法销售、使用或者出口的商品货值金额等值以上3倍以下罚款；构成犯罪的，依法追究刑事责任。</p>
			<p>第四十六条　进出口商品的收货人、发货人、代理报检企业或者出入境快件运营企业、报检人员不如实提供进出口商品的真实情况，取得出入境检验检疫机构的有关证单，或者对法定检验的进出口商品不予报检，逃避进出口商品检验的，由出入境检验检疫机构没收违法所得，并处商品货值金额5％以上20％以下罚款。</p>
			<p>进出口商品的收货人或者发货人委托代理报检企业、出入境快件运营企业办理报检手续，未按照规定向代理报检企业、出入境快件运营企业提供所委托报检事项的真实情况，取得出入境检验检疫机构的有关证单的，对委托人依照前款规定予以处罚。</p>
			<p>代理报检企业、出入境快件运营企业、报检人员对委托人所提供情况的真实性未进行合理审查或者因工作疏忽，导致骗取出入境检验检疫机构有关证单的结果的，由出入境检验检疫机构对代理报检企业、出入境快件运营企业处2万元以上20万元以下罚款。</p>
			<p>第四十七条　伪造、变造、买卖或者盗窃检验证单、印章、标志、封识、货物通关单或者使用伪造、变造的检验证单、印章、标志、封识、货物通关单，构成犯罪的，依法追究刑事责任；尚不够刑事处罚的，由出入境检验检疫机构责令改正，没收违法所得，并处商品货值金额等值以下罚款。</p>
			<p>第四十八条　擅自调换出入境检验检疫机构抽取的样品或者出入境检验检疫机构检验合格的进出口商品的，由出入境检验检疫机构责令改正，给予警告；情节严重的，并处商品货值金额10％以上50％以下罚款。</p>
			<p>第四十九条　出口属于国家实行出口商品注册登记管理而未获得注册登记的商品的，由出入境检验检疫机构责令停止出口，没收违法所得，并处商品货值金额10％以上50％以下罚款。</p>
			<p>第五十条　进口或者出口国家实行卫生注册登记管理而未获得卫生注册登记的生产企业生产的食品，由出入境检验检疫机构责令停止进口或者出口，没收违法所得，并处商品货值金额10％以上50％以下罚款。</p>
			<p>已获得卫生注册登记的进出口食品生产企业，经检查不符合规定要求的，由国家质检总局或者出入境检验检疫机构责令限期整改；整改仍未达到规定要求或者有其他违法行为，情节严重的，吊销其卫生注册登记证书。</p>
			<p>第五十一条　进口可用作原料的固体废物，国外供货商、国内收货人未取得注册登记，或者未进行装运前检验的，按照国家有关规定责令退货；情节严重的，由出入境检验检疫机构并处10万元以上100万元以下罚款。</p>
			<p>已获得注册登记的可用作原料的固体废物的国外供货商、国内收货人违反国家有关规定，情节严重的，由出入境检验检疫机构撤销其注册登记。</p>
			<p>进口国家允许进口的旧机电产品未办理备案或者未按照规定进行装运前检验的，按照国家有关规定予以退货；情节严重的，由出入境检验检疫机构并处100万元以下罚款。</p>
			<p>第五十二条　提供或者使用未经出入境检验检疫机构鉴定的出口危险货物包装容器的，由出入境检验检疫机构处10万元以下罚款。</p>
			<p>提供或者使用经出入境检验检疫机构鉴定不合格的包装容器装运出口危险货物的，由出入境检验检疫机构处20万元以下罚款。</p>
			<p>第五十三条　提供或者使用未经出入境检验检疫机构适载检验的集装箱、船舱、飞机、车辆等运载工具装运易腐烂变质食品、冷冻品出口的，由出入境检验检疫机构处10万元以下罚款。</p>
			<p>提供或者使用经出入境检验检疫机构检验不合格的集装箱、船舱、飞机、车辆等运载工具装运易腐烂变质食品、冷冻品出口的，由出入境检验检疫机构处20万元以下罚款。</p>
			<p>第五十四条　擅自调换、损毁出入境检验检疫机构加施的商检标志、封识的，由出入境检验检疫机构处5万元以下罚款。</p>
			<p>第五十五条　从事进出口商品检验鉴定业务的检验机构超出其业务范围，或者违反国家有关规定，扰乱检验鉴定秩序的，由出入境检验检疫机构责令改正，没收违法所得，可以并处10万元以下罚款，国家质检总局或者出入境检验检疫机构可以暂停其6个月以内检验鉴定业务；情节严重的，由国家质检总局吊销其检验鉴定资格证书。</p>
			<p>第五十六条　代理报检企业、出入境快件运营企业违反国家有关规定，扰乱报检秩序的，由出入境检验检疫机构责令改正，没收违法所得，可以处10万元以下罚款，国家质检总局或者出入境检验检疫机构可以暂停其6个月以内代理报检业务。</p>
			<p>第五十七条　出入境检验检疫机构的工作人员滥用职权，故意刁难当事人的，徇私舞弊，伪造检验结果的，或者玩忽职守，延误检验出证的，依法给予行政处分；违反有关法律、行政法规规定签发出口货物原产地证明的，依法给予行政处分，没收违法所得；构成犯罪的，依法追究刑事责任。</p>
			<p>第五十八条　出入境检验检疫机构对没收的商品依法予以处理所得价款、没收的违法所得、收缴的罚款，全部上缴国库。</p>
			
			<p class="tc" style="text-indent:0">第六章　附　 则</p>

			<p>第五十九条　当事人对出入境检验检疫机构、国家质检总局作出的复验结论不服，或者对国家质检总局、出入境检验检疫机构作出的处罚决定不服的，可以依法申请行政复议，也可以依法向人民法院提起诉讼。</p>
			<p>当事人逾期不履行处罚决定，又不申请行政复议或者向人民法院提起诉讼的，作出处罚决定的机构可以申请人民法院强制执行。</p>
			<p>第六十条　出入境检验检疫机构实施法定检验、经许可的检验机构办理检验鉴定业务，按照国家有关规定收取费用。</p>
			<p>第六十一条　本条例自2005年12月1日起施行。1992年10月7日国务院批准、1992年10月23日原国家进出口商品检验局发布的《中华人民共和国进出口商品检验法实施条例》同时废止。</p>
			
		</article>
		<div style="height: 1.4rem;"></div>
	</section>

</template>
<!-- 政策详情 -->


