<!-- 新闻中心 -->
<template name="xwzx">
	
	{{> swiper }}

	<section id="xwzx">
		
		{{#each items}}
			
			<div class="items">
				<div class="l left" flex="cross:center">
					<div>
						<p class="title">{{ title }}</p>
						<p class="date">{{ date }}</p>
					</div>
				</div>
				<img src="{{ img }}" alt="" class="r">
			</div>

		{{/each}}

	</section>	

</template>


<!-- 相关政策 -->

<template name="xgzc">
	
	<section id="xgzc">
		<ul flex="box:mean dir:left">
			<li class="tc active">最新法规规章</li>
			<li class="tc">政策解读</li>
		</ul>
		<div class="box">
			<div class="item show">
				{{#each laws}}
				
				<div class="items cp">
					<input type="hidden" value="{{ url }}">
					<div class="l left" flex="cross:center">
						<div>
							<p class="title">{{ title }}</p>
							<p class="date">{{ date }}</p>
						</div>
					</div>
					<img src="{{ img }}" alt="" class="r">
				</div>

				{{/each}}
			</div>
			
			<div class="item">
				{{#each policys}}
				
				<div class="items">
					<div class="l left" flex="cross:center">
						<div>
							<p class="title">{{ title }}</p>
							<p class="date">{{ date }}</p>
						</div>
					</div>
					<img src="{{ img }}" alt="" class="r">
				</div>

				{{/each}}
			</div>

		</div>
	</section>


</template>


<!-- 政策详情 -->
<template name="zcxq">
	
	<section id="zdetail">
		
		<div class="title">
			<p>中华人民共和国进出口商品检验法</p>
			<p class="date">2016-06-12</p>
		</div>

		<article>

			中华人民共和国进出口商品检验法<br>

			（1989年2月21日第七届全国人民代表大会常务委员会第六次会议通过 根据2002年4月28日第九届全国人民代表大会常务委员会第二十七次会议《关于修改＜中华人民共和国进出口商品检验法＞的决定》修正 根据2013年6月29日第十二届全国人民代表大会常务委员会第三次会议《关于修改〈中华人民共和国文物保护法〉等十二部法律的规定》第二次修正）<br>

			目    录<br>

			第一章 总    则<br>

			第二章 进口商品的检验<br>

			第三章 出口商品的检验<br>

			第四章 监督管理<br>

			第五章 法律责任<br>

			第六章 附    则<br>

			第一章 总    则<br><br>

			第一条 为了加强进出口商品检验工作，规范进出口商品检验行为，维护社会公共利益和进出口贸易有关各方的合法权益，促进对外经济贸易关系的顺利发展，制定本法。<br><br>

			第二条 国务院设立进出口商品检验部门（以下简称国家商检部门），主管全国进出口商品检验工作。国家商检部门设在各地的进出口商品检验机构（以下简称商检机构）管理所辖地区的进出口商品检验工作。<br><br>

			第三条 商检机构和经国家商检部门许可的检验机构，依法对进出口商品实施检验。<br><br>

			第四条 进出口商品检验应当根据保护人类健康和安全、保护动物或者植物的生命和健康、保护环境、防止欺诈行为、维护国家安全的原则，由国家商检部门制定、调整必须实施检验的进出口商品目录（以下简称目录）并公布实施。<br><br>

			第五条 列入目录的进出口商品，由商检机构实施检验。<br><br>

			前款规定的进口商品未经检验的，不准销售、使用；前款规定的出口商品未经检验合格的，不准出口。<br><br>

			本条第一款规定的进出口商品，其中符合国家规定的免予检验条件的，由收货人或者发货人申请，经国家商检部门审查批准，可以免予检验。<br><br>

			第六条 必须实施的进出口商品检验，是指确定列入目录的进出口商品是否符合国家技术规范的强制性要求的合格评定活动。<br><br>

			合格评定程序包括：抽样、检验和检查；评估、验证和合格保证；注册、认可和批准以及各项的组合。核，许可符合条件的国内外检验机构承担委托的进出口商品检验鉴定业务。责任。
		</article>
		<div style="height: 1.4rem;"></div>
	</section>

</template>

<!-- 法规详情 -->
<template name="fgxq">
	<section id="zdetail">
		
		<div class="title">
			<p>2015 年4－6月海关总署公告导读</p>
			<p class="date">2015-07-17</p>
		</div>

		<article>
			编者按：2015年4-6月，海关总署发布了2015 年第11-28号公告，内容涉及扩大区域通关一体化改革、调整部分产品出口关税、征收反倾销税、境外旅客购物离境退税等问题。<br>

			本期《政策法规研究》将对上述部分公告进行简要导读，以供学习参考。<br>

			2015 年4－6月海关总署公告导读<br>

			政策研究室<br>

			一、海关总署关于扩大广东地区海关区域通关一体化改革的公告（2015年第11号）<br>

			为加快经济紧密联系地区区域通关一体化改革步伐，尊重企业的自主选择与物流运作规律，营造更加公平公正高效的进出口环境，海关总署2015年4月7日发布公告，决定扩大广东地区海关区域通关一体化改革范围。自2015年5月1日起，福建、广西、海南等三省（区）内的福州、厦门、南宁、海口等四个海关启用区域通关一体化通关方式，海关总署2014年第66号公告适用于福州、厦门、南宁、海口海关关区。<br>

			二、海关总署关于废止《中华人民共和国海关对加工贸易保税工厂管理办法》有关事项的公告（2015年第12号）<br>

			根据《国务院关于取消和调整一批行政审批项目等事项的决定》（国发〔2014〕50号）的规定，海关总署已取消“保税工厂设立”行政审批项目，并废止了相关规章。为保持政策的连续性，海关总署2015年4月13日发布公告，对此前已按照保税工厂管理的企业，其为制造出口产品而进口的原料、材料、元器件、零部件、配套件、辅料、包装物料和加工过程中直接消耗的数量合理的化学物品，仍予以保税。本公告自发布之日起生效。<br>

			三、海关总署关于公布、废止部分商品归类决定的公告（2015年第13号）<br>

			为便于进出口货物的收发货人、经营单位及其代理人正确确定进出口货物的商品归类，减少商品归类争议，保障海关商品归类执法的统一，根据《中华人民共和国海关进出口货物商品归类管理规定》（海关总署令第158号）有关规定，海关总署2015年4月23日发布公告，公布2015年商品归类决定（Ⅰ），同时废止部分已公布的商品归类决定。该公告自发布之日起生效。
		</article>
		<div style="height: 1.4rem;"></div>
	</section>
	
</template>