<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<!-- 禁止浏览器从本地计算机的缓存中访问页面内容：这样设定，访问者将无法脱机浏览。 -->
	<meta http-equiv="Pragma" content="no-cache">
	<!-- 转码申明：用百度打开网页可能会对其进行转码（比如贴广告），避免转码可添加如下meta -->
	<meta http-equiv="Cache-Control" content="no-siteapp" /> 
	<!-- 关键词 -->
	<meta name="keywords" content="嘉定出口加工区" />
	<!-- author -->
	<meta name="author" content="kyl" />
	<title>嘉定出口加工区</title>
	<link rel="stylesheet" href="flex-css-layout.min.css">
	<script src="responsive.js"></script>
	<script>
		// 设计图宽度
		    window['adaptive'].desinWidth = 750;
		    // body 字体大小
		    window['adaptive'].baseFont = 18;
		    /*
		    // 显示最大宽度 可选
		    window['adaptive'].maxWidth = 480;
		    // rem值改变后执行方法 可选
		    window['adaptive'].setRemCallback = function () {
		        alert(1)
		    }
		    */
		    // 初始化
		    window['adaptive'].init();
	</script>
</head>